<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                {{#i18n}}listregister{{/i18n}}
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">



                        <div class="pull-right">
                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table id="welfare" class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                <tr>

                                    <th>&nbsp;{{#i18n}}welfarename{{/i18n}}</th>
                                    <th>&nbsp;{{#i18n}}amountmoney{{/i18n}}</th>
                                    <th>&nbsp;{{#i18n}}welfaredatestart{{/i18n}}</th>
                                    <th>&nbsp;สมาชิก</th>
                                    <th>&nbsp;ขอรับ</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="selectable">


                                    <td>ค่ารักษาพยาบาล</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><a href="#" onclick="getBodyMember('/sdg/api/Member/medicalFee/view/medical')">link</a></td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    $(function(){

        var data = {};
        //data['registerId'] = "{{registerId}}";
        data['registerId'] = "1";

        var arr = [],k = 0;

        $.ajax({
            url: '{{_context_path}}/api/Member/view/list/add',
            data: jsonEncode(data),
            type: 'post', // 'or get'
            async: true,
            success: function (result) {

                if(result.listWelfare!=null)

                    for(var i = 0; i < result.listWelfare.length ; i++){
                        var data = result.listWelfare[i],curr = true;


                        for(var j = 0; j < arr.length ; j++){
                            var group = arr[j];
                            if(group.id == data.welfareId){
                                curr = false;
//                            if(group.amount != data.amount){
//                                curr = true;
//                            }
                            }
                        }//check group

                        if(curr){
                            var curUsed = false,curTarget = false;

                            for(var j = 0; j < result.listWelfare.length ; j++){
                                var used = result.listWelfare[j];
                                if(data.welfareId == used.welfareId){
                                    if(data.isUsed != 0){
                                        curUsed = true;
                                    }
                                }
                            }//check used


                            for(var j = 0; j < result.listWelfare.length ; j++){
                                var target = result.listWelfare[j];
                                if(data.welfareId == target.welfareId){
                                    if(data.isUsed != 0){
                                        curUsed = true;
                                    }
                                    if(data.isTarget != 0){
                                        curTarget = true;
                                    }
                                }
                            }//check target

                            arr[k] = {
                                id : data.welfareId,
                                sub : data.welfareSubId,
                                name :data.welfareName,
                                amount : data.amount,
                                welfareStart : data.welfareStart,
                                welfareEnd : data.welfareEnd,
                                target : curTarget,
                                used : curUsed,
                                status : data.statusId
                            };
                            k++;
                        }

                    }



                var $html = '';
                for(var i = 0; i < arr.length ; i++){
                    var data = arr[i];
                    $html += '<tr>';
                    if(data.status == 0){

                        if(data.target == true){

                            $html += //'<td>'+data.id+'</td>'+
                                    '<td>'+data.name+'</td>'+
                                    '<td>'+data.amount+'</td>'+
                                    '<td>'+data.welfareStart+' / '+data.welfareEnd+'</td>'+
                                    '<td>-</td>'+
                                    '<td>' +
                                    '<a href="#"><span class="label label-success label-welfare-approve" data-value="'+data.sub+'">รับสวัสดิการ</span></a>' +
                                    '</td>';

                        }else{
                            $html += //'<td>'+data.id+'</td>'+
                                    '<td>'+data.name+'</td>'+
                                    '<td>'+data.amount+'</td>'+
                                    '<td>'+data.welfareStart+' / '+data.welfareEnd+'</td>'+
                                    '<td>-</td>'+
                                    '<td>-</td>';
                        }

                    }else if(data.status == 1){

                        $html += //'<td>'+data.id+'</td>'+
                                '<td>'+data.name+'</td>'+
                                '<td>'+data.amount+'</td>'+
                                '<td>'+data.welfareStart+' / '+data.welfareEnd+'</td>'+
                                '<td>-</td>'+
                                '<td>รอการพิจารณา</td>';

                    }else{
                        $html += //'<td>'+data.id+'</td>'+
                                '<td>'+data.name+'</td>'+
                                '<td>'+data.amount+'</td>'+
                                '<td>'+data.welfareStart+' / '+data.welfareEnd+'</td>'+
                                '<td>-</td>'+
                                '<td>รับแล้ว</td>';
                    }
                    $html += '<tr>';


                }
                $html += '</tr>';

                $("#welfare tbody").append($html);

            }

        });



        $(document).on('click','a span.label-welfare-approve',function(e){
            e.preventDefault();
            var $this = $(this);


            var data = {};
            //data['registerId'] = "{{registerId}}";
            data['registerId'] = '1';
            data['welfareId'] = $this.attr('data-value');


            $.ajax({
                url: '{{_context_path}}/api/Member/view/add',
                data: jsonEncode(data),
                type: 'post', // 'or get'
                async: true,
                success: function (result) {

                    $this.parents('td').html('รอการพิจารณา');


                }
            });


        });




    });
</script>


