<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                {{#i18n}}listregister{{/i18n}}
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">



                        <div class="pull-right">
                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table id="welfare" class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <!--<th>&nbsp;{{#i18n}}welfarecode{{/i18n}}</th>-->
                                    <th>&nbsp;{{#i18n}}welfarename{{/i18n}}</th>
                                    <th>&nbsp;{{#i18n}}amountmoney{{/i18n}}</th>
                                    <th>&nbsp;{{#i18n}}welfaredatestart{{/i18n}}</th>
                                    <th>&nbsp;{{#i18n}}welfaredateend{{/i18n}}</th>
                                    <th>สถานะ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!---->
                                <!--<tr class="selectable">-->

                                <!--<td>&nbsp;1</td>-->
                                <!--<td>&nbsp;สวัสดิการน้ำท่วม</td>-->
                                <!--<td>&nbsp;15000</td>-->
                                <!--<td>&nbsp;01-01-2014</td>-->
                                <!--<td>&nbsp;01-01-2016</td>-->
                                <!--<td>รับแล้ว</td>-->
                                <!--</tr>-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript">
    $(function(){

        var data = {};
        data['registerId'] = '1';
        //data['registerId'] = "{{registerId}}";
        var arr = [],k = 0;

        $.ajax({
            url: '{{_context_path}}/api/Member/view/show/approve',
            data: jsonEncode(data),
            type: 'post', // 'or get'
            async: true,
            success: function (result) {

                var $html = "";
                for(var i = 0; i < result.showApprove.length ; i++){
                    var data = result.showApprove[i];

                    $html += "<tr>";
                    if(data.statusId == 2){


                        $html += //'<td>'+data.id+'</td>'+
                                '<td>'+data.welfareName+'</td>'+
                                '<td>'+data.amount+'</td>'+
                                '<td>'+data.welfareStart+'</td>'+
                                '<td>'+data.welfareEnd+'</td>'+
                                '<td>รับแล้ว</td>';

                    }

                    $html += "</tr>";

                }

                $("#welfare tbody").append($html);
                //var $html = '';



            }
        });





    });
</script>