<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listcutwelfare{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listcutwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา">            
                        </label>

                        <div class="col-lg-3">
                            <button id="xx" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                        

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">

                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}all.number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}all.fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}all.gender{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}all.academy{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}all.employeeType{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}conditions.rightConditions{{/i18n}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datasMember}}
                                    <tr>
                                        <td>{{rowNo}}</td>
                                        <td>{{title}}  {{fname}}  {{lname}}</td>
                                        <td>{{gender1}}</td>
                                        <td>{{department1}} / {{faculty1}}  </td>
                                        <td>{{employeeType1}}</td>
                                        <td>
                                            <button class="btn btn btn-default btn-xs edit btn_history"
                                                    row-index="{{memberId}}"
                                                    row-emploryee="{{employeeTypeId}}">
                                                <i class="fa fa fa-eye"></i>{{#i18n}}all.history{{/i18n}}
                                            </button>
                                        </td>

                                    </tr>
                                    {{/datasMember}}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>


<script>
    $('.btn_history').click(function () {
        var data = {};
        data['memberId'] = $(this).attr('row-index');
        data['fieldMap'] = $(this).attr('row-emploryee');
        var jdata = {};
        jdata['data'] = data;
        
        getHTML('content-body', '{{_context_path}}/api/welfare/view/byMemberWelfare/lists', jsonEncode(jdata))
    });
</script>