<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}welfarecondition{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption">{{#i18n}}welfarecondition{{/i18n}}</span>
                    </div>
                    <div class="widget-body">
                        <form id="registrationForm" class="form-horizontal">
                            <div class="form-title">
                                {{#i18n}}pleaseinput{{/i18n}}
                            </div>
                            {{#welfare}}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageless{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageLess" value="{{ageLess}}"
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionagemore{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageMore" value="{{ageMore}}"
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageas{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageAs" value="{{ageAs}}"
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionagesince{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageSince" value="{{ageSince}}"
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageto{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageTo" value="{{ageTo}}"
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkLess{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkLess" value="{{ageWorkLess}}"
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkMore{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkMore" value="{{ageWorkMore}}"
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkAs{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkAs" value="{{ageWorkAs}}"
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkSince{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkSince" value="{{ageWorkSince}}"
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkTo{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkTo"  value="{{ageWorkTo}}"
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}typeemployee{{/i18n}}</label>
                                <div class="col-lg-9">

                                    <select class="form-control" id="positionsTypeId" name="country" data-bv-field="country">
                                        <option value="{{positionsTypeId}}">{{positionsTypeNameTh}}</option>
                                        {{#position}}
                                        <option value="{{positionsTypeId}}">{{positionsTypeNameTh}}</option>
                                        {{/position}}


                                    </select><i class="form-control-feedback" data-bv-field="country" style="display: none;"></i>

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}conditiondateStartWorking{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group">
                                        <input class="form-control date-picker" id="welfareEnd" value="{{datestart}}" type="text" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}conditiondateEndWork{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group">
                                        <input class="form-control date-picker" id="dateEndWork" value="{{dateend}}" type="text" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {{#welcheckbox}}
                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label"></label>
                                <div class="controls col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-4 col-xs-4">
                                            <div class="checkbox">
                                                <label>

                                                    <input type="checkbox" {{isStatusVoluntary}} id="StatusVoluntary" value="true">

                                                    <span class="text">{{#i18n}}conditionconditionstatusvoluntary{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-4 col-xs-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="inverted" {{isStatusRetired}} id="StatusRetired" >
                                                    <span class="text">{{#i18n}}conditionstatusretired{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {{/welcheckbox}}
                            {{/welfare}}

                            <div class="form-group">
                                <div class="col-lg-offset-6 col-lg-8">
                                    <input class="btn btn-palegreen" id="btn_submit" type="submit" value="{{#i18n}}button.submit{{/i18n}}" />
                                    <input class="btn btn-default" id="btn_cancel" type="reset" value="{{#i18n}}button.cancel{{/i18n}}" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<!-- /Page Content -->


<script type="text/javascript">

        $(document).ready(function () {

$("#btn_submit").click(function () {
var data = {};
        data['welfareConditionsId'] = {{#welfare}}"{{welfareConditionsId}}"{{/welfare}};
        data['welfareSubId'] = {{welfareSubId}};        
        data['ageLess'] = $("#ageLess").val();
        data['ageMore'] = $("#ageMore").val();
        data['ageAs'] = $("#ageAs").val();
        data['ageSince'] = $("#ageSince").val();
        data['ageTo'] = $("#ageTo").val();
        data['ageWorkLess'] = $("#ageWorkLess").val();
        data['ageWorkMore'] = $("#ageWorkMore").val();
        data['ageWorkAs'] = $("#ageWorkAs").val();
        data['ageWorkSince'] = $("#ageWorkSince").val();
        data['ageWorkTo'] = $("#ageWorkTo").val();
        data['dateStartWorking'] = $("#dateStartWorking").val();
        data['dateEndWork'] = $("#dateEndWork").val();
        data['statusVoluntary'] = $("#StatusVoluntary").prop("checked") ? "Y":"N";
        data['statusRetired'] = $("#StatusRetired").prop("checked") ? "Y":"N";
        data['positionsTypeId'] = $("#positionsTypeId").val();
        //alert(data['statusVoluntary']);
        var jdata = {};
        jdata['data'] = data;
        $.ajax({
        url: '{{_context_path}}/api/welfare/welfare/save/conditions',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                alert(result.saveconditions);
                        //alert(result.message);
                        getHTML('content-body','{{_context_path}}/api/welfare/view/welfare/list/sub/{{welfareSubId}}',null);
                }
        });
        return false;
});
});
        $('.date-picker').datepicker();
</script>