<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
              <li class="welfare"><a href="#" data-id="content-body" data-api="/welfare/api/welfare/view/welfare/lists" onclick="btnHTML(this)">
                    <span class="menu-text">{{#i18n}}welfare.details{{/i18n}}</span>
                </a>
            </li>
            <li class="active">{{#i18n}}welfare.add{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption">{{#i18n}}welfare.add{{/i18n}}</span>
                    </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-title">
                            </div>
                             {{#datas}}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}welfare.name{{/i18n}}</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="firstName" placeholder="ชื่อสวัสดิการ"
                                           data-bv-notempty="true" id="name"
                                           value="{{name}}"
                                           data-bv-notempty-message="ชื่อสวัสดิการ" />
                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}welfare.description{{/i18n}}</label>
                                <div class="col-lg-9">
                                    
                                    <textarea rows="4" id="description" cols="70">{{description}}</textarea>
                                    
                                    
                                </div>
                            </div>
                             
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}welfare.resetTime{{/i18n}}</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="name" placeholder="ใส่ตัวเลข"
                                           data-bv-notempty="true" id="resetTime" value="{{resetTime}}"
                                           data-bv-notempty-message="ใส่ตัวเลข" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}welfare.dateStart{{/i18n}}</label>
                                <div class="controls col-lg-5">
                                   <div class="input-group">
                                <input class="form-control cDate" id="dateStart"  value="{{dateStart}}"
                                data-validation="required" data-validation-error-msg="*กรุณาเลือกวัน/เดือน/ปีที่บรรจุ" 
                                data-validation-error-msg-container="#dateStart-th-msg-error" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                             
                          

                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}welfare.dateEnd{{/i18n}}</label>
                                <div class="controls col-lg-5">
                                    <div class="input-group">
                                   <input class="form-control cDate" id="dateEnd" style="z-index: 0;" value="{{dateEnd}}"
                                    data-validation="required" data-validation-error-msg="*กรุณาเลือกวัน/เดือน/ปีที่บรรจุ" 
                                    data-validation-error-msg-container="#dateEnd-th-msg-error" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                               <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}welfare.welfareType{{/i18n}}</label>
                                <div class="col-lg-5">

                                    <select class="form-control" name="country" id="free" data-bv-field="country">
                                        <option value="Y">{{#i18n}}welfare.free{{/i18n}}</option>
                                        <option value="N">{{#i18n}}welfare.loan{{/i18n}}</option>


                                    </select><i class="form-control-feedback" data-bv-field="country" style="display: none;"></i>

                                </div>
                            </div>
                             
                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label"></label>
                                <div class="controls col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-xs-4">
                                            <div class="checkbox">
                                                <label>

                                                    <input type="checkbox"  id="willing">

                                                    <span class="text">{{#i18n}}conditions.willing{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-xs-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="inverted" id="retire" >
                                                    <span class="text">{{#i18n}}conditions.retire{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                       
                                        
                                    </div>
                                </div>
                            </div>
                            
                            {{/datas}}


                            <div class="form-group">
                                
                                    <div class="col-lg-offset-6 col-lg-8">
                                        <input class="btn btn-palegreen" id="btn_submit" type="submit" value="{{#i18n}}button.submit{{/i18n}}" />
                                    </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<!-- /Page Content -->



   
<script type="text/javascript">

    $(document).ready(function () {

    $("#btn_submit").click(function () {
    var data = {};
             var data = {};
             data['welfareId'] = {{#datas}}"{{welfareId}}"{{/datas}};
           data['name'] = $("#name").val();
            data['description'] = $("#description").val();
            data['dateStart'] = $("#dateStart").val();
            data['dateEnd'] = $("#dateEnd").val();
            data['resetTime'] = $("#resetTime").val();
            data['free'] = $("#free").val();
            if (willing == true) {
                data['willing'] = "Y";
            } else {
                data['willing'] = "N";
            }
            if(retire==true){
                data['retire'] = "Y";
            }else{
                data['retire'] = "N";
            }

            var jdata = {};
            jdata['data'] = data;
            var result = sendData('{{_context_path}}/api/welfare/welfare/update', jsonEncode(jdata));
            
                if (result.update == true) {
                getHTML('content-body', '{{_context_path}}/api/welfare/view/welfare/lists',null);
                Notify('แก้ไขข้อมูลสำเร็จ', 'top-right', '4000', 'blue', 'fa fa-edit', true);
                } else{
                Notify('แก้ไขข้อมูลไม่สำเร็จ !', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                }
    });
    return false;
    });
    $(".cDate").datepicker({language: 'th-th', format: 'dd-mm-yyyy', autoclose: true});

</script>