<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">รายการประกาศข่าวสาร</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายการประกาศข่าวสาร</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา">            
                        </label>

                        <div class="col-lg-3">
                            <button id="xx" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                        <div class="pull-right">
                            
                            <button type="button" class="btn btn-primary" 
                                    data-toggle="modal" 
                                    data-target="#uploadModal" 
                                    data-whatever="@fat">
                                <i class="glyphicon glyphicon-upload"></i>{{#i18n}}button.upload{{/i18n}}PDF
                            </button>
                        
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ที่อยู่ไฟล์เอกสาร</th>
                                       
                                        <th>จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datasNews}}
                                    <tr class="selectable">

                                        <td>{{rowNo}}</td>
                                        <td>{{newsName}}</td>
                                       
                                        
                                        <td class="center">
                                            
                                           <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/news/view/news/edit"
                                                    data-object="newsId"
                                                    data-param="{{newsId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>
                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{newsId}}" >{{#i18n}}deletes{{/i18n}}</button>
                                        </tr>
                                    {{/datasNews}}
                                    
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <!-- /Page Body -->
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">อัพโหลดไฟล์ประกอบข่าวสาร </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">ไฟล์ PDF</label>
                    <form enctype="multipart/form-data" method="post" class="dropzone dz-square" id="frm_upload">
                   <input name="multiFileName" type="file"  class="multiFileName" id="multiFileName">

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary" id="btn_upload">upload</button>
            </div>
        </div>
    </div>
</div>

<script>
     $('#btn_upload').on('click', function() {
    var file_data = $('#multiFileName').prop('files')[0];   
    var form_data = new FormData();                  
    form_data.append('file', file_data);
    alert(form_data);                             
    $.ajax({
                url: '{{_context_path}}/api/news/multifile/save', // point to server-side PHP script 
                dataType: 'text',  // what to expect back from the PHP script, if anything
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,                         
                type: 'post',
                success: function(php_script_response){
                    alert(php_script_response); // display response from the PHP script, if any
                }
     });
});
    
</script>