
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listwelfare{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                            <span>จำนวนทั้งหมด : {{maxRows}} คน</span>

                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>




                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}welfare.number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}welfare.fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}gender{{/i18n}}</th>
                                        <th class="text-center">สังกัด</th>
                                        <th class="text-center">{{#i18n}}employeeType{{/i18n}}</th>
                                        <th class="text-center">รายการใช้สวัสดิการ</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datas}}
                                    <tr>
                                        <td>{{rowNo}}</td>
                                        <td>{{title}}  {{fname}}{{lname}}</td>
                                        <td>{{gender}}</td>
                                        <td>ภาควิชา/สำนักงาน {{department}}  {{faculty}}  </td>
                                        <td>{{employeeType}}</td>
                                        <td>
                                            <button class="btn btn btn-default btn-xs edit checkHistory"
                                                    data-id="content-body"
                                                    row-index="{{memberId}}"
                                                <i class="fa fa fa-eye"></i>{{#i18n}}welfare.history{{/i18n}}
                                            </button>
                                        </td>

                                    </tr>
                                    {{/datas}}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>





<script>
    $(document).ready(function () {
    
 
    $('.checkHistory').click(function () {
    var data = {};
            data['conditionsId'] = {{conditionsId}};
            data['memberId'] = $(this).attr('row-index');
            data['welfareId']={{welfareId}};
        var jdata = {};
        jdata['data'] = data;
        getHTML('content-body','{{_context_path}}/api/welfare/view/history/lists',jsonEncode(jdata))
     
          });
    });
    

</script>