
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listwelfare{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                        <div class="pull-right">


                        </div>

                        <div class="pull-right">

                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">

                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}welfare.number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}welfare.fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}gender{{/i18n}}</th>
                                        <th class="text-center">สังกัด</th>
                                        <th class="text-center">{{#i18n}}employeeType{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>



                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    $(document).ready(function () {
        
   
    
    {{#datas}}
        var dateEndWork = "{{dateEndWork}}";
        var dateStartWork = "{{dateStartWork}}";
        var conditionsId={{conditionsId}};
        var ageStart={{ageStart}};
        var ageEnd={{ageEnd}};
        var ageWorkStart={{ageWorkStart}};
        var ageWorkEnd={{ageWorkEnd}};
        var genderId={{genderId}};
        var employeeTypeId={{employeeTypeId}};
        
    {{/datas}} 
    var data1 = {};
            if (dateStartWork != "") {
                data1['dateStartWork'] = dateStartWork;
            }
            if (dateEndWork != "") {
                data1['dateEndWork'] = dateEndWork;
            }
            
            data1['conditionsId']=conditionsId
            
            if(ageStart > 0){
            data1['ageStart'] =ageStart;
            }
             if(ageEnd > 0){
            data1['ageEnd'] =ageEnd;
            }
            if(ageWorkStart > 0){
            data1['ageWorkStart'] =ageWorkStart;
            }
            if(ageWorkEnd > 0){
            data1['ageWorkEnd'] =ageWorkEnd;
            }
            if(genderId > 0){
            data1['genderId'] = genderId;
            }
            data1['employeeTypeId'] = employeeTypeId;
   
            var jdata = {};
            jdata['conditions'] = data1;
    $.ajax({
            url: '{{_context_path}}/api/welfare/view/previews/test/lists',
            data: jsonEncode(jdata),
            type: 'post', // 'or get'
            success: function (result) {
                alert("xxx");
        } 

    });
  });
  
</script>



