
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listwelfare{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listwelfare{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                            <span>จำนวนทั้งหมด : {{maxRows}} คน</span>

                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>




                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}welfare.number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}welfare.fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}gender{{/i18n}}</th>
                                        <th class="text-center">สังกัด</th>
                                        <th class="text-center">{{#i18n}}employeeType{{/i18n}}</th>
                                        <th class="text-center">รายการใช้สวัสดิการ</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datas}}
                                    <tr>
                                        <td>{{rowNo}}</td>
                                        <td>{{title}}  {{fname}}{{lname}}</td>
                                        <td>{{gender}}</td>
                                        <td>ภาควิชา/สำนักงาน {{department}}  {{faculty}}  </td>
                                        <td>{{employeeType}}</td>
                                        <td>
                                            <button class="btn btn btn-default btn-xs edit"
                                                    data-id="content-body"
                                                    id="checkHistory"
                                                    row-index="{{memberId}}"
                                                    data-toggle="modal"
                                                    data-target=".bs-example-modal-lg" > 
                                                <i class="fa fa fa-eye"></i>{{#i18n}}welfare.history{{/i18n}}
                                            </button>
                                        </td>

                                    </tr>
                                    {{/datas}}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>


<!--LArge Modal Templates-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">รายงานการใช้งาน</h4>
            </div>
            <div class="modal-body">
                <div class="well bordered-left bordered-themeprimary" id="showDetails">



                </div>
                <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                    <thead>
                        <tr>
                            <th class="text-center">{{#i18n}}welfare.number{{/i18n}}</th>
                            <th class="text-center">จำนวนเงินที่ใช้ไป </th>
                            <th class="text-center">วัน/เดือน/ปี </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{rowNo}}</td>
                            <td> </td>
                            <td> </td>

                        </tr>


                    </tbody>

                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--End Large Modal Templates-->

<script>

    $('#checkHistory').click(function () {

        var data = {};
        data['conditionsId'] = {{conditionsId}};
            data['memberId'] = $(this).attr('row-index');
    var jdata = {};
    jdata['data'] = data;
    $.ajax({
    url: '{{_context_path}}/api/welfare/history/preview/history',
            data: jsonEncode(jdata),
            type: 'post', // 'or get'
            success: function (result) {

                var html = "";
                var data = result.preview;
                var free="";
                if(data.free=="Y"){
                    free="สวัสดิการให้เปล่า";
                }else{
                    free="สวัสดิการให้ยืม";
                }
                        html += '<p> ชื่อสวัสดิการ : ' + data.name + '</p>';
                        html += '<p>รายละเอียด : '+ data.wfDescription +  ' </p>';
                        html += '<p>เงื่อนไขสวัสดิการ : ' + data.description + ' </p>';
                        html += '<p>จำนวนสวัสดิการ : '+ data.amount +' </p>';
                        html += '<p>วันที่เริ่มสวัสดิการ : ' + data.dateStart + ' </p>';
                        html += '<p>วันที่สิ้นสุดสวัสดิการ : ' + data.dateEnd + ' </p>';
                        html += '<p>สวัสดิการที่มีการรีเซตทุก ๆ : ' + data.resetTime +  ' เดือน</p>';
                        html += '<p>ประเภทสวัสดิการ : ' + free + ' </p>';
                        $("#showDetails").html(html);
            }
        });
    });


</script>