<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}addmedicalfee{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">

                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <div class="form-title">
                                {{#i18n}}addmedicalfee{{/i18n}}
                            </div>
                            <div class="form-group ">
                                <label class="col-lg-4 control-label">{{#i18n}}inputcardid{{/i18n}}</label>
                                <div class="col-lg-5">
                                    <span class="input-icon">
                                        <input type="text" class="form-control input-sm" id="registerIdCard">
                                        <i class="glyphicon glyphicon-search blue"></i>
                                    </span>
                                </div>
                                <div class="col-lg-3">
                                    <button id="btn_search" name="bn" class="btn btn-default" type="button">{{#i18n}}button.search{{/i18n}}</button>
                                </div>

                            </div>


                            <div class="form-group ">

                                <label class="col-lg-4 control-label">{{#i18n}}name{{/i18n}}</label>

                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="fname" placeholder="{{#i18n}}name{{/i18n}}"
                                           data-bv-notempty="true" id="fname"
                                           data-bv-notempty-message="{{#i18n}}name{{/i18n}}" disabled="disabled"/>
                                </div>

                            </div>

                            <div class="form-group ">

                                <label class="col-lg-4 control-label">{{#i18n}}lastname{{/i18n}}</label>

                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="lname" placeholder="{{#i18n}}lastname{{/i18n}}"
                                           data-bv-notempty="true" id="lname"
                                           data-bv-notempty-message="{{#i18n}}lastname{{/i18n}}" disabled="disabled"/>
                                </div>

                            </div>

                            <div class="form-group ">

                                <label class="col-lg-4 control-label">{{#i18n}}balances{{/i18n}}</label>

                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="total" placeholder="{{#i18n}}balances{{/i18n}}"
                                           data-bv-notempty="true" id="total"
                                           data-bv-notempty-message="{{#i18n}}balances{{/i18n}}" disabled="disabled"/>
                                </div>

                            </div>


                            <hr>

                            <div class="form-group ">

                                <label class="col-lg-4 control-label">{{#i18n}}hospitalmedical{{/i18n}}</label>

                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="hospital" placeholder="{{#i18n}}hospitalmedical{{/i18n}}"
                                           data-bv-notempty="true" id="hospital"
                                           data-bv-notempty-message="{{#i18n}}hospitalmedical{{/i18n}}"/>
                                </div>

                            </div>

                            <div class="form-group ">

                                <label class="col-lg-4 control-label">{{#i18n}}amountneed{{/i18n}}</label>

                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="amount" placeholder="{{#i18n}}amountneed{{/i18n}}"
                                           data-bv-notempty="true" id="amount"
                                           data-bv-notempty-message="{{#i18n}}amountneed{{/i18n}}"/>
                                </div>

                            </div>





                            <div class="form-group ">
                                <div class="col-lg-12">
                                    <div class="col-lg-7 control-label">
                                        <button id="btn_submit" name="btn_submit" class="btn btn-primary" type="button">{{#i18n}}button.submit{{/i18n}}</button>
                                        <button id="bn" name="bn" class="btn btn-default" type="reset">{{#i18n}}button.cancel{{/i18n}}</button>
                                    </div>
                                </div>
                            </div>










                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<!-- /Page Content -->
<script type="text/javascript">

    $(document).ready(function () {


        $("#btn_search").click(function () {

            var data = {};
            data['idCard'] = $("#registerIdCard").val();

            //data['amount'] = $("#amount").val();
            //data['facultyNameEn'] = $("#facultyNameEn").val();

            //  var jdata = {};
            //jdata['data'] = data;
            $.ajax({
                url: '{{_context_path}}/api/medical/medicalfee/search/user',
                data: jsonEncode(data),
                type: 'post', // 'or get'
                async: true,
                success: function (result) {
                    var data = result.searchUser;
                    if (data != null) {
                            //$.each(data,function(k,v){
                                $("#fname").val(data.fname);
                                $("#lname").val(data.lname);
                                $("#total").val(data.balance);
                            //});
//                        $("#lname").val(result.searchUser.user.lname);
//                        $("#total").val(result.searchUser.balance);
                    } else {
                        alert("ไม่พบข้อมูล");
                        $("#fname").val("");
                        $("#lname").val("");
                        $("#total").val("");
                    }


                }
            });
//            
        });






        $("#btn_submit").click(function () {
            var data = {};
            data['registerId'] = $("#registerIdCard").val();
            data['amount'] = $("#amount").val();
            data['hospital'] = $("#hospital").val();


            var jdata = {};
            jdata['data'] = data;

            if (parseInt($("#amount").val()) > parseInt($("#total").val())) {
                alert('จำนวนคงเหลือไม่พอตามที่ระบุ');
            } else {

                $.ajax({
                    url: '/sdg/api/ManagementMedicalFee/medicalfee/insert',
                    data: jsonEncode(jdata),
                    type: 'post', // 'or get'
                    async: true,
                    success: function (result) {
                        if (result.insert == true) {
                            alert('success');
                        }
                    }
                });



            }

//
        });




    });
</script>