<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">
                <a href="#"
                   data-id="content-body"
                   data-api="{{_context_path}}/api/medical/view/medicalFee/lists"
                   onclick="btnHTML(this)">{{#i18n}}llistmedial{{/i18n}}
                </a>
            </li>
            <li class="active">
                <a href="#"
                   data-id="content-body"
                   data-api="{{_context_path}}/api/medical/view/medicalFee/details/{{#data}}{{memberId}}{{/data}}"
                   onclick="btnHTML(this)">{{#i18n}}deaillistmedial{{/i18n}}
                </a>
            </li>
            <li class="active">{{#i18n}}editdata{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->

    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">

                    </div>
                    <div class="widget-body">
                        <form id="registerForm">
                            <div class="form-horizontal">
                                <div class="form-title">
                                    {{#i18n}}addmedicalfee{{/i18n}}
                                </div>
                                <div class="form-group ">
                                    <label class="col-lg-4 control-label">{{#i18n}}inputcardid{{/i18n}}</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control input-sm" id="idCard" value="{{#data}}{{idCard}}{{/data}}" disabled="disabled">
                                    </div>


                                </div>


                                <div class="form-group ">

                                    <label class="col-lg-4 control-label">{{#i18n}}name{{/i18n}}</label>

                                    <div class="col-lg-6">

                                        <input type="text" class="form-control" name="fname" placeholder="{{#i18n}}name{{/i18n}}"
                                               data-bv-notempty="true" id="fname" value="{{#data}}{{fname}}{{/data}}"
                                               data-bv-notempty-message="{{#i18n}}name{{/i18n}}" disabled="disabled"/>
                                    </div>

                                </div>

                                <div class="form-group ">

                                    <label class="col-lg-4 control-label">{{#i18n}}lastname{{/i18n}}</label>

                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="lname" placeholder="{{#i18n}}lastname{{/i18n}}"
                                               data-bv-notempty="true" id="lname" value="{{#data}}{{lname}}{{/data}}"
                                               data-bv-notempty-message="{{#i18n}}lastname{{/i18n}}" disabled="disabled"/>
                                    </div>

                                </div>

                                <div class="form-group ">

                                    <label class="col-lg-4 control-label">{{#i18n}}balances{{/i18n}}</label>

                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="total" placeholder="{{#i18n}}balances{{/i18n}}"
                                               data-bv-notempty="true" id="total" value="{{#data}}{{balance}}{{/data}}"
                                               data-bv-notempty-message="{{#i18n}}balances{{/i18n}}" disabled="disabled"/>
                                    </div>

                                </div>

                                <div class="form-group ">

                                    <label class="col-lg-4 control-label">{{#i18n}}hospitalmedical{{/i18n}}</label>

                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="hospital" placeholder="{{#i18n}}hospitalmedical{{/i18n}}"
                                               data-validation="required" data-validation-error-msg="*กรุณากรอกชื่อโรงพยาบาล" id="hospital"
                                               data-validation-error-msg-container="#hospital-msg-error" value="{{#data}}{{remark}}{{/data}}"/>
                                    </div>
                                    <div class="col-lg-offset-4" id="hospital-msg-error">

                                    </div>
                                </div>

                                <div class="form-group ">

                                    <label class="col-lg-4 control-label">{{#i18n}}amountneed{{/i18n}}</label>

                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="amount" placeholder="{{#i18n}}amountneed{{/i18n}}"
                                               data-validation="required" data-validation-error-msg="*กรุณาระบุจำนวนเงิน" id="amount"
                                               data-validation-error-msg-container="#amount-msg-error" value="{{#data}}{{payment}}{{/data}}"/>
                                    </div>
                                    <div class="col-lg-offset-4" id="amount-msg-error">

                                    </div>
                                </div>





                                <div class="form-group ">
                                    <div class="col-lg-12">
                                        <div class="col-lg-7 control-label">
                                            <button id="btn_submit" name="btn_submit" class="btn btn-primary" type="button">{{#i18n}}button.submit{{/i18n}}</button>
                                            <button id="bn" name="bn" class="btn btn-default" type="reset">{{#i18n}}button.cancel{{/i18n}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<!-- /Page Content -->
<script type="text/javascript">

    $(document).ready(function () {
        $.validate();


        $("#btn_submit").click(function () {
            var data = {};
            data['historyId'] = '{{#data}}{{historyId}}{{/data}}';
            data['detailsId '] = '{{#data}}{{detailsId}}{{/data}}';
            data['welfareId'] = '{{#data}}{{welfareId}}{{/data}}';
            data['memberId'] = '{{#data}}{{memberId}}{{/data}}';
            data['amount'] = $("#amount").val();
            data['remark'] = $("#hospital").val();


            var jdata = {};
            jdata['data'] = data;

            if (parseInt($("#amount").val()) >= parseInt($("#total").val())) {
                Notify('จำนวนคงเงินเหลือไม่พอตามที่ระบุ', 'top-right', '4000', 'warning', 'fa fa-warning', true);
            } else {
                $.ajax({
                    url: '{{_context_path}}/api/medical/medicalfee/update',
                    data: jsonEncode(jdata),
                    type: 'post', // 'or get'
                    async: true,
                    success: function (result) {
                        if (result.update == true) {
                            getHTML('content-body', '{{_context_path}}/api/medical/view/medicalFee/details/{{#data}}{{memberId}}{{/data}}', null);
                            Notify('บันทึกสำเร็จ', 'top-right', '4000', 'success', 'fa-check', true);
                        }
                    }
                });

            }

//
        });




    });
</script>