
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}medicalfeelist{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}medicalfeelist{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </label>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/medical/view/medicalFee/add"

                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed" id="show">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}medicalfeelist{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}medicalfeeamount{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}hospitalmedical{{/i18n}}</th>

                                        <th>&nbsp;{{#i18n}}status{{/i18n}}</th>
                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#member}}
                                    <tr class="selectable">

                                        <td>&nbsp;{{registerNameTh}} {{registerLastNameTh}}</td>
                                        <td>&nbsp;{{amount}}</td>
                                        <td>&nbsp;{{name}}</td>

                                        <td>&nbsp;<a href="#" id="status[0]" name="status[0]" ><span class="label label-success">เปิดการใช้งาน</span></a></td>
                                        <td class="center">
                                            <a class="btn btn-info btn-xs edit" href="#" onclick="getBody('api/ManagementMedicalFee/medicalfee/edit/{{medicalFeeId}}')" ><i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}}</a> 
                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{medicalFeeId}}" >{{#i18n}}deletes{{/i18n}}</button>

                                        </td>
                                    </tr>
                                    {{/member}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>


<script>
            $('.btn-del').click(function(){
    var id = $(this).attr('row-index');
            var data = {"medicalFeeId":id};
            var msg = sendData('{{_context_path}}/api/ManagementMedicalFee/medicalfee/delete', data);
            if (msg.deletetitleName == true){
    getBody('{{_context_path}}/api/ManagementMedicalFee/medicalfee/list');
    }
    });</script>   

<script>

            < script >
            $("#btnsearch").click(function () {
    var SearchName = $("#SearchName").val();
            if (SearchName == ""){
    document.getElementById("demo").innerHTML = "กรุณากรอกข้อมูลค้นหา";
    } else{

    var data = {"SearchName":SearchName};
//        sendData('{{_context_path}}/api/ManagementBasics/academic/position/view/search',data);

            getBodyDiv('{{_context_path}}/api/ManagementMedicalFee/medicalfee/view/search', data);
    }
    });

</script>
