<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}welfare.bymember{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}welfare.bymember{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                          <div class="pull-right">
                            <label class="col-lg-12  control-label">
                                <!--<div class="pull-right">-->
                            
                               
                            </label>
                            <!--</div>-->
                        </div>
                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-9">
                            <label class="col-lg-2 control-label">
                                <select id="filterCode" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                    <option value="faculty">คณะ</option>
                                    <option value="employeeType" >ประเภทพนักงาน</option>
                                    <option value="memberActive" >สถานะพนักงาน</option>


                                    <!-- … -->
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filtervalue" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>

                            </label>
                            <label class="col-lg-3 control-label">
                                <select id="filterdepartment" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>
                               
                            </label>


                            <div class="col-lg-2">
                                <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>
                        </div>
                       
                        

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">

                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}gender{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}academy{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}employeeType{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}conditions.rightConditions{{/i18n}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datasMember}}
                                    <tr>
                                        <td>{{rowNo}}</td>
                                        <td>{{title}}  {{fname}}  {{lname}}</td>
                                        <td>{{gender1}}</td>
                                        <td>{{department1}} / {{faculty1}}  </td>
                                        <td>{{employeeType1}}</td>
                                        <td>
                                            <button class="btn btn btn-default btn-xs edit btn_history"
                                                    row-index="{{memberId}}"
                                                    row-emploryee="{{employeeTypeId}}">
                                                <i class="fa fa fa-eye"></i>{{#i18n}}history{{/i18n}}
                                            </button>
                                        </td>

                                    </tr>
                                    {{/datasMember}}

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>


<script>
    $('.btn_history').click(function () {
       
        var memberId = $(this).attr('row-index');
        var data = {"memberId":memberId};
        
        getHTML('content-body', '{{_context_path}}/api/welfare/view/admin/right/lists',data)
    });
</script>