<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}retirelist{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}retirelist{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="retireYear" id="retireYear" placeholder="ค้นหา">            
                        </label>

                        <div class="col-lg-3">
                            <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>{{#i18n}}button.search{{/i18n}}</button>
                        </div>

                        <!--                        <div class="pull-right">
                                                    <label class="control-label"><h5>{{#i18n}}totalamount{{/i18n}}</h5></label>
                                                    <label class="control-label"><h5 id="countTotal"> {{countTotal}} บาท</h5></label>
                                                </div>-->

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{#i18n}}listmember{{/i18n}}</th>
                                        
                                        <th>{{#i18n}}facultyId{{/i18n}}</th>
                                        <th>{{#i18n}}totalmoney{{/i18n}}</th>




                                    </tr>
                                </thead>
                                <tbody id="retirelist">
                                    {{#retire}}
                                    <tr class="selectable">

                                        <td>{{title}} {{fname}}   {{lname}}</td>
                                        <td>{{department}}</td>
                                        <td>{{faculty}}</td>
                                        <td>{{quantity}}</td>


                                    </tr>
                                    {{/retire}}
                                    
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    $(document).ready(function () {

        $("#btnSearch").click(function () {
            var retireYear = $("#retireYear").val(); //2560
            if (retireYear == "") {
                var d = new Date();
                retireYear = d.getFullYear();
            } else {
                retireYear -= 543; // 2017
            }
//            alert(retireYear);

            var jdata = {};
            var html = '';
            jdata['retireYear'] = retireYear;
            $.ajax({
                url: '{{_context_path}}/api/retire/retire/preview',
                data: jsonEncode(jdata),
                type: 'post',
                success: function (result) {

                    getHTML('content-body', '{{_context_path}}/api/retire/view/retire/lists', {retire: result.preview});
//                      $.each(result, function (key, value) {
//                        console.log(value['fname']);
//                        if (value == "") {
//                            html += "<tr class='selectable'><td></td><td></td><td></td><td></td><td></td><td></td></tr>";
//                        } else {
//                            html += "<tr class='selectable'><td>" + value["title"] + " " + value.fname + " " + value.lname + "</td><td>" + value.department + "</td><td>" + value.faculty + "</td></tr>";
//                        }
//                    });


//                    $("#retirelist").html(html);
                }
            });

        });
    });


</script>

