<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}retirelist{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}retirelist{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">

                        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-9">
                            <label class="col-lg-2 control-label">
                                <select id="filterCode" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                    <option value="faculty">คณะ</option>
                                    <option value="employeeType" >ประเภทพนักงาน</option>
                                    <option value="memberActive" >สถานะพนักงาน</option>


                                    <!-- … -->
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filtervalue" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>

                            </label>
                            <label class="col-lg-3 control-label">
                                <select id="filterdepartment" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>
                                <input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหาชื่อ,เลขบัตรประชาชน" value="{{searchvalue}}">
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-3 control-label">
                                <input type="text" class="form-control" name="retireYear" id="retireYear" placeholder="ค้นหาปีเกษียน" value="{{searchretire}}">
                                <p id="demo" style="color:#d14"></p>
                            </label>

                            <div class="col-lg-2">
                                <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>


                        </div>




                        <div class="pull-left">
                            <label class="col-lg-12  control-label">
                                <label class="control-label"><h5>{{#i18n}}totalamount{{/i18n}}</h5></label>
                                <label class="control-label"><h5 id="countTotal">{{#total}}{{total}}{{/total}} บาท</h5></label>

                            </label>
                        </div>
                        <div class="pull-right">
                            <label class="col-lg-12  control-label">
                                <button type="button" class="btn btn-success"
                                        id="reportCsv"
                                        data-whatever="">
                                    <i class="fa fa-file-excel-o"></i>{{#i18n}}button.export{{/i18n}} CSV
                                </button>
                            </label>
                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{#i18n}}listmember{{/i18n}}</th>

                                        <th>{{#i18n}}facultyId{{/i18n}}</th>
                                        <th>{{#i18n}}totalmoney{{/i18n}}</th>




                                    </tr>
                                </thead>
                                <tbody id="retirelist">
                                    {{#retire}}
                                    <tr class="selectable">

                                        <td>{{titleName}} {{fname}}   {{lname}}</td>
                                        <td>{{department1}} ({{faculty1}})</td>
                                        <td>{{quantity}}</td>


                                    </tr>
                                    {{/retire}}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    $(document).ready(function () {

        $("#filterdepartment").hide();

        $("#filterCode").change(function () {
            var pCode = $("#filterCode").val();
            var data;
            if (pCode == "faculty") {
                data = getCode(pCode);
                $("#filterdepartment").show();
                $("#searchName").hide();
            } else if (pCode != "name") {

                data = getPCode(pCode);
                $("#searchName").show();
            }

            var html;
            if ($("#filterCode").val() == "name") {
                $("#searchName").show();
                $("#filtervalue").hide();

            }

            else if ($("#filterCode").val() == "year")
            {
                $("#searchName").hide();
                $("#filtervalue").hide();

            }
            else {
                if (data == "") {
                    html = '<option value="">โปรดเลือก</option>';

                } else {
                    $.each(data, function (key, value) {
                        html += "<option value='" + value.id + "'>" + value.value1 + " , " + value.value2 + " </option>";

                    });
                }
                $("#searchName").hide();

                $("#filtervalue").show();
                $("#filtervalue").html(html);
            }


        });
        $("#filtervalue").change(function () {
            var id = $("#filtervalue").val();
            var pCode = $("#filterCode").val();
            $.ajax({
                url: '{{_context_path}}/api/taxonomy/taxonomy/getParentId',
                data: {parentId: id},
                success: function (result) {
                    var data = result["lists"];
                    var html;
                    if (data == "") {
                        html = '<option value="">สังกัด</option>';
                    } else {
                        $.each(data, function (key, value) {

                            html += "<option value='" + value.id + "'>" + value.value1 + "</option>";
                        });
                    }
                    if (pCode == "faculty") {

                        $("#filterdepartment").show();
                        $("#filterdepartment").html("<option value='' selected='' disabled=''>เลือก</option>" + html);
                    }
                    else {

                        $("#filterdepartment").hide();
                        $("#searchName").show();
                    }
                }
            });
        });

        $("#btnSearch").click(function () {
            var searchName = $("#searchName").val();
            var retire = $("#retireYear").val();
            var filterCode = $("#filterCode").val();
            var filtervalue = $("#filtervalue").val();
            var filterdepartment = $("#filterdepartment").val();
            if (searchName) {
                if (searchName == "") {
                    $("#demo").html("กรุณากรอกข้อมูลค้นหา");
                } else {
                    if (retire == "") {
                        var d = new Date();
                        retire = d.getFullYear();
                    } else {
                        retire -= 543;
                    }
                    var data = {
                        "searchName": searchName,
                        "retire": retire
                    };
                }
            }
            else if (filterdepartment) {
                if (filterdepartment != "") {

                    var filterCode = 'department';
                    if (retire == "") {
                        var d = new Date();
                        retire = d.getFullYear();
                    } else {
                        retire -= 543;

                    }
                    var data = {
                        "filterCode": filterCode,
                        "filtervalue": filterdepartment,
                        "retire": retire
                    };
                }



            }
            else if (retire) {
                if (retire == "") {
                    var d = new Date();
                    retire = d.getFullYear();
                } else {
                    retire -= 543;

                }
                var data = {
                    "retire": retire
                };


            }

            else if (filterCode) {
                if (retire == "") {
                    var d = new Date();
                    retire = d.getFullYear();
                } else {
                    retire -= 543;

                }
                var data = {
                    "filterCode": filterCode,
                    "filtervalue": filtervalue,
                    "retire": retire
                };
            }
            else {
                if (retire == "") {
                    var d = new Date();
                    retire = d.getFullYear();
                } else {
                    retire -= 543;

                }
                var data = {
                    "retire": retire
                };


            }
//            getHTML('content-body', '{{_context_path}}/api/retire/view/retire/lists', data);
            sendData('{{_context_path}}/api/retire/view/retire/lists', data,
                    function (result) {
                        var body = "";
                         var re = result.viewList;
                        if (re.member != "") {
//                            console.log(result.viewList);
                            var re = result.viewList;
                            var tot = re.total;
                            $.each(re.member, function (k, v) {
                                body += "<tr>" +
                                        "<td>" + v.titleName + " " + v.fname + " " + v.lname + "</td>" +
                                        "<td>" + v.department1 + " " + v.faculty1 + "</td>" +
                                        "<td>" + v.quantity + "</td>" +
                                        "</tr>";
                            });
                            $("#retirelist").html(body);
                            $("#countTotal").html(tot.total + " บาท");
                        }
                        else {
                            $("#retirelist").html("<tr><td></td><td>ไม่พบข้อมูล</td><td></td></tr>");
                            $("#countTotal").html("- บาท");
                        }


                    });

//            getHTML('content-body', '{{_context_path}}/api/retire/view/retire/lists', {retire: result.preview});
        });
        $("#reportCsv").click(function () {
            window.open('{{_context_path}}/api/retire/reports/lists');

        });

    });


</script>












