welfare/vendor/
welfare/logs/
welfare/nbproject/private/private.properties
welfare/nbproject/private/private.xml
welfare/manifest.server.json
welfare/index.php
welfare/.idea/welfare.iml
*.xml
*.name
/nbproject/private/
nbproject/project.properties
/welfare/nbproject/private/