/welfare/vendor/
/welfare/logs/
welfare/nbproject/private/private.properties
welfare/nbproject/private/private.xml
welfare/manifest.server.json
welfare/manifest.server.json
welfare/manifest.server.json
welfare/manifest.server.json