<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                Dashboard
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายการประเภทสมาชิก </span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="pull-right">
                            <a href="type_member.html"><button id="bn" name="bn" class="btn btn-primary" onClick="javascript:setTimeout('__doPostBack2_ShowModule(\'frmAction\',\'' + this.value + '\')', 0)" type="button"> <i class="fa fa-plus"></i>เพิ่มข้อมูลใหม่</button></a>
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;ชื่อตำแหน่งทางสังคมไทย</th>
                                        <th>&nbsp;ชื่อตำแหน่งทางสังคมอังกฤษ</th>
                                        <th>&nbsp;ตัวอักษรย่อไทย</th>
                                        <th>&nbsp;ตัวอักษรย่ออังกฤษ</th>
                                        <th>&nbsp;สถานะ</th>
                                        <th class="center">จัดการ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="selectable">
                                <input type="hidden" id="moduleID[0]" name="moduleID[0]" value="2">
                                <input type="hidden" id="class_name[0]" name="class_name[0]" value="">
                                <td>&nbsp;ด็อกเตอร์</td>
                                <td>&nbsp;Doctor</td>
                                <td>&nbsp;ดร</td>
                                <td>&nbsp;Dr.</td>
                                <td>&nbsp;<a href="#" id="status[0]" name="status[0]" onClick="javascript:setTimeout('__doPostBack2_ShowModule(\'frmActionStatus\',\'0\')', 0)"><span class="label label-success">เปิดการใช้งาน</span></a></td>
                                <td class="center"><a class="btn btn-info btn-xs edit" href="rank.html" onClick="  javascript:setTimeout('__doPostBack2_ShowModule(\'Grid1_Editing\',\'' + 0 + '\')', 0);"><i class="fa fa-edit"></i>Edit</a> <a class="btn btn-danger btn-xs delete" href="#" onClick="  if (ConfirmDel()) {
                                            javascript:setTimeout('__doPostBack2_ShowModule(\'Grid1_Deleting\',\'' + 0 + '\')', 0);
                                        }"><i class="fa fa-trash-o"></i>Delete</a></td>
                                </tr>

                                </tbody>
                                <input type="hidden" name="Grid1_currentpage" value="10,1">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>