<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">
                <a href="#"
                   data-id="content-body"
                   data-api="{{_context_path}}/api/insurance/view/life/admin/lists"
                   onclick="btnHTML(this)">{{#i18n}}menu.life{{/i18n}}
                </a>
            </li>
            <li class="active">{{#i18n}}listprivilege{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}listprivilege{{/i18n}}</span>
                        <div class="widget-buttons"></div>
                    </div>
                    <div class="widget-body">
                        <div class="pull-left"><h5> {{#member}} {{titles1}} {{fname}} {{lname}}{{/member}}</h5></div>
                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/insurance/view/beneficiary/add/{{lifeId}}"
                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}registerName{{/i18n}}</th>

                                        <th>&nbsp;{{#i18n}}rerationship{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}ratio{{/i18n}}</th>
                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#lists}}
                                    <tr class="selectable">

                                        <td>&nbsp;{{titleName}} {{ffname}} {{flname}}</td>

                                        <td>&nbsp;{{value1}}</td>
                                        <td>&nbsp;{{ratio}}</td>
                                        <td class="center">
                                            <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/insurance/view/beneficiary/edit/{{beneficiaryId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-plus"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>
                                        </td>
                                    </tr>
                                    {{/lists}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>

<script>
    $('.btn-del').click(function () {
        var id = $(this).attr('row-index');
        var data = {"departmentId": id};
        var msg = sendData('api/ManagementBasics/department/delete', data);
        if (msg.deleteDepartment == true) {

            getBody('{{_context_path}}/api/ManagementInsurance/privilege/delete/{{register}}');
        }
    });
    $('#btn-add').click(function () {
        var msg = getBody('{{_context_path}}/api/ManagementInsurance/privilege/view/add/{{register}}');
    });



</script>