<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}welfareadd{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->

    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption">แก้ไข จำนวน/หน่วย</span>
                    </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-3 control-label">จำนวน</label>
                                <div class="col-lg-6">
                                    {{#datasHistory}}
                                    <input type="text" class="form-control" name="amount" placeholder="{{#i18n}}amountwelfare{{/i18n}}"
                                           data-bv-notempty-message="ใส่ตัวเลข" 
                                           value="{{amount}}"
                                           data-validation-error-msg="*กรุณาใส่ตัวเลข"
                                           data-validation="number" id="amount" />
                                    {{/datasHistory}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label"></label>
                                <div class="col-lg-6">

                                    <input class="btn btn-palegreen" id="btn_submit" type="submit" value="{{#i18n}}button.submit{{/i18n}}" />


                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->



<script>
    $(document).ready(function () {
    $.validate();
            $('#btn_submit').click(function (){
    var total = {{totalWf}};
       
    if ($("#amount").val() != "" && total > $("#amount").val()){
    var data = {};
            data['historyId'] = {{historyId}};
            data['amount'] = $("#amount").val();
            var jdata = {};
            jdata['data'] = data;
            $.ajax({
            url: '{{_context_path}}/api/welfare/history/update',
                    data: jsonEncode(jdata),
                    type: 'post', // 'or get'
                    success: function (result) {
                        
                    if (result.save == true) {
                        
                    var data = {};
                    data['conditionsId'] = {{#datasHistory}}{{conditionsId}}{{/datasHistory}};
                    data['memberId'] ={{#datasHistory}}{{memberId}}{{/datasHistory}};
                    data['welfareId']={{#datasHistory}}{{welfareId}}{{/datasHistory}};
                    var jdata = {};
                    jdata['data'] = data;
                    getHTML('content-body','{{_context_path}}/api/welfare/view/history/lists',jsonEncode(jdata))
     
                    Notify('แก้ไขข้อมูลสำเร็จ', 'top-right', '4000', 'blue', 'fa fa-edit', true);
                    } else {
                    Notify('แก้ไขไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                    }


                    }

            });
    } else{
    Notify('กรุณาระบุข้อมูลให้ถูกต้อง !', 'top-right', '4000', 'warning', 'fa fa-warning', true);
            $('#amount').focus();
    }
    return false;
    });
    });

</script>





