<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                Dashboard
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="widget">
            <div class="widget-header bordered-top bordered-pink">  </div>
            <!--Widget Header-->
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-title">
                            <span class="widget-caption">จัดการ เพิ่ม แก้ไข  จัดการ เพิ่ม แก้ไข สิทธิการเข้าถึงข้อมูล</span>
                        </div>
                        <div class="form-group">
                                        <div class="widget widget-4">
                                            <div class="widget-head"><h4 class="heading">ผู้ดูแลระบบ</h4></div>
                                            <div class="separator"></div>
                                            <div class="row-fluid">

                                                <div class="form-group">
                                                    
                                                    <label class="control-label col-md-3">เข้าถึงการแสดงข้อมูล : </label>
                                                    <div class="col-md-9">
                                                        <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" checked="checked">
                                                            <span class="text">แสดงข้อมูล</span>
                                                        </label>
                                                    </div>
                                                        
                                                    </div>
                                                </div>  <div class="form-group">
                                                    <label class="control-label col-md-3">เข้าถึงการเพิ่มข้อมูล : </label>
                                                    <div class="col-md-9">
                                                        
                                                                   <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" checked="checked">
                                                            <span class="text">การเพิ่มข้อมูล</span>
                                                        </label>
                                                    </div>
                                                        
                                                        
                                                    </div>
                                                </div>  <div class="form-group">
                                                    
                                                   
                                                    
                                                    <label class="control-label col-md-3">เข้าถึงการแก้ไขข้อมูล : </label>
                                                    <div class="col-md-9">
                                                        
                                                <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" checked="checked">
                                                            <span class="text">การแก้ไขข้อมูล</span>
                                                        </label>
                                                    </div>
                                                    </div>
                                                </div>  <div class="form-group">
                                                    <label class="control-label col-md-3">เข้าถึงการลบข้อมูล : </label>
                                                    <div class="col-md-9">
                                                        
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" class="colored-success" checked="checked">
                                                            <span class="text">การลบข้อมูล</span>
                                                        </label>
                                                    </div>
                                                        
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button id="bn" name="bn" class="btn btn-primary" onclick="" type="button">บันทึกข้อมูล</button>
                                            <input type="reset" id="bnreset" name="bnreset" value="ล้างข้อมูล" class="btn">
                                        </div>

                        </div>
                    </div>
                    <!--/form-group--> 

                </div>
                <!--\\\\\\\ container  end \\\\\\--> 
            </div>
            <!--\\\\\\\ content panel end \\\\\\--> 
        </div>
        <!--\\\\\\\ inner end\\\\\\--> 



    </div>

    <!-- /Page Body -->
</div>