<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                Dashboard
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption">จัดการ เพิ่ม แก้ไข ผู้ใช้งาน</span>
                    </div>
                    <div class="widget-body">
                        <form id="registrationForm" method="post" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="form-title">
                                เพิ่ม / แก้ไข ประเภทผู้ใช้งาน
                            </div>
                            <div class="form-group ">
                                <label class="col-lg-4 control-label">ประเภทผู้ใช้งาน</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" name="firstName" placeholder="กรอกชื่อ"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="กรุณาระบุประเภทผู้ใช้งาน" />
                                </div>

                            </div>

                            <div class="form-group ">

                                <label class="col-lg-4 control-label">เปิด / ปิด การใช้งาน</label>
                                <div class="col-lg-6">
                                    <div >
                                        <select class="form-control" name="country" data-bv-field="country">
                                            <option value="">กรุณาระบุเปิด / ปิด การใช้งาน</option>
                                            <option value="FR">เปิด</option>
                                            <option value="DE">ปิด</option>


                                        </select><i class="form-control-feedback" data-bv-field="country" style="display: none;"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group ">
                                <div class="col-lg-12">
                                    <div class="col-lg-7 control-label">
                                        <button id="bn" name="bn" class="btn btn-primary" type="button">บันทึกข้อมูล</button>
                                        <input type="reset" id="bnreset" name="bnreset" value="ล้างข้อมูล" class="btn">
                                    </div>
                                </div>
                            </div>










                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

            </div>
        </div>

        <div class="row">



        </div>
    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->
<!-- /Page Content -->
<script type="text/javascript">

    $(document).ready(function () {

        $("#btn_submit").click(function () {
            var data = {};
            data['campusId'] = $("#campusId").val();
            data['facultyCode'] = $("#facultyCode").val();
            data['facultyName'] = $("#facultyName").val();
            data['facultyNameEn'] = $("#facultyNameEn").val();

            var jdata = {};
            jdata['data'] = data;
            $.ajax({
                url: '/{{_context_path}}/api/ManagementBasics/faculty/save',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    alert(result.save);
                    //alert(result.message);
                    getBody('api/ManagementBasics/faculty/listFaculty');
                }
            });
//            var campusId = $("#campusId").val();
//            var facultyCode = $("#facultyCode").val();
//            var facultyName = $("#facultyName").val();
//            var facultyNameEn = $("#facultyNameEn").val();

//            $.ajax({
//                url: '/{{_context_path}}/api/ManagementBasics/faculty/addFaculty',
//                data: {campusId:campusId, facultyCode:facultyCode, facultyName:facultyName, facultyNameEn:facultyNameEn},
//                type: 'post', // 'or get'
//                success: function (result) {
//                    var msg = result.addFaculty;
//
//                    //alert(msg["name"]);
//                    if (msg == true) {
//                        //alert("{{#i18n}}alertinsertNocomplete{{/i18n}}");
//                        getBody('api/ManagementBasics/faculty/listFaculty');
//                    } 
//                }
//            });
            //alert();
        });

    });
</script>