<!-- Page Content -->

<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}listpositionwork{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1> {{#i18n}}listpositionwork{{/i18n}} </h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addpositionworkView{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-title"> {{#i18n}}addpositionworkView{{/i18n}} </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}positionsWorkNameTh{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="positionsWorkNameTh" id="positionsWorkNameTh" placeholder="{{#i18n}}positionsWorkNameTh{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}positionsWorkNameTh{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}positionsWorkNameEn{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="{{#i18n}}positionsWorkNameEn{{/i18n}}" id="positionsWorkNameEn" placeholder="{{#i18n}}positionsWorkNameEn{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}positionsWorkNameEn{{/i18n}}" />
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" id="btn_submit" class="btn btn-primary">{{#i18n}}button.submit{{/i18n}}</button>
                                    <input type="reset" id="bnreset" name="bnreset" value="ล้างข้อมูล" class="btn">                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body --> 
</div>
<!-- /Page Content --> 
<script type="text/javascript">

    $(document).ready(function () {

        $("#btn_submit").click(function () {
            var data = {};
            data['positionsWorkNameTh'] = $("#positionsWorkNameTh").val();
            data['positionsWorkNameEn'] = $("#positionsWorkNameEn").val();

            var jdata = {};
            jdata['data'] = data;

//                alert(positionsNameEn);
            $.ajax({
                url: '{{_context_path}}/api/ManagementBasics/work/positions/save',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    //alert(result.save);
                    //alert(result.message);
                    getBody('{{_context_path}}/api/ManagementBasics/work/positions/view/list');
                }
            });
        });
    });
</script>