
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}addregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1> {{#i18n}}addregister{{/i18n}} </h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            {{#datas}}
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerIdCard{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="idCard" name="registerIdCard" placeholder="{{#i18n}}registerIdCard{{/i18n}}"
                                               data-bv-notempty="true" value="{{idCard}}" disabled=""
                                               data-bv-notempty-message="{{#i18n}}registerIdCard{{/i18n}}" />
                                    </div>
                                </div>
                                <label for="reservation" class="col-lg-2 control-label">{{#i18n}}registerDateofBirth{{/i18n}}</label>

                                <div class="col-lg-4">

                                    <div class="controls col-lg-12">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="dob" value= "{{dobs}}" type="text" data-date-format="dd-mm-yyyy">

                                            <span class="input-group-addon"> 
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}academicPositionsId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <select class="form-control col-lg-12" id="academicId" name="academicId" data-bv-field="country">

                                        </select>
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}titleNameId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <select class="form-control col-lg-12" id="titleId" name="employeeTypeId" data-bv-field="country">
                                            <option value="">{{#i18n}}titleNameId{{/i18n}}</option>
                                            {{#titleName}}
                                            <option value="{{id}}">{{value1}} , {{value2}}</option>
                                            {{/titleName}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{fname}}"
                                               data-bv-notempty-message="{{#i18n}}registerName{{/i18n}}" />
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}registerLastName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="{{#i18n}}registerLastName{{/i18n}}"
                                               data-bv-notempty="true" value="{{lname}}"
                                               data-bv-notempty-message="{{#i18n}}registerLastName{{/i18n}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}gender{{/i18n}}</label>
                                <div class="col-lg-4 control-group ">
                                    {{#gender}}
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="genderId" id="genderId" value="{{id}}" type="radio"  checked="checked">
                                            <span class="text">{{value1}} </span> </label>
                                    </div>

                                    {{/gender}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}registerStaffCode{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="employeeCode" name="employeeCode" placeholder="{{#i18n}}registerStaffCode{{/i18n}}"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message=" {{#i18n}}registerStaffCode{{/i18n}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}positionsTypeNameTh{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="employeeTypeId" name="employeeTypeId" data-bv-field="country">
                                                <option value="">ระบุประเภทพนักงาน</option>
                                                {{#employeeType}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/employeeType}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}positionsWorkNameTh{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="positionId" name="positionId" data-bv-field="country">
                                                <option value="">ระบุตำแหน่งงาน</option>
                                                {{#position}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/position}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}facultyId{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="facultyId" name="facultyId" data-bv-field="country">
                                                <option value="">เลือกภาควิชา</option>
                                                {{#faculty}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/faculty}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}departmentId{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="departmentId" name="departmentId" data-bv-field="country">
                                                <option value="">สังกัด</option>
                                                {{#department}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/department}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}linePosition{{/i18n}}</label>
                                        <div class="col-lg-9 control-group ">
                                            <div class="radio col-lg-6">
                                                <label>
                                                    <input name="form-field-radio" id="lineId" type="radio"  checked="checked">
                                                    <span class="text">{{#i18n}}academicSupport{{/i18n}} </span> </label>
                                            </div>
                                            <div class="radio col-lg-6">
                                                <label>
                                                    <input name="form-field-radio" id="matierId" type="radio" class="inverted">
                                                    <span class="text">{{#i18n}}academics{{/i18n}}</span> </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="reservation" class="col-lg-3">{{#i18n}}registerDateAdded{{/i18n}}</label>

                                        <div class="col-lg-9">

                                            <div class="controls col-lg-12">
                                                <div class="input-group">
                                                    <input class="form-control date-picker" value="{{workstart}}" id="workStartDate" type="text" data-date-format="dd-mm-yyyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">เลือกประเภทผู้ใช้งาน</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="userTypeId" name="userTypeId" data-bv-field="country">
                                                {{#userType}}
                                                <option value="{{userTypeId}}">{{userTypeName}}</option>
                                                {{/userType}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>

                                    <div class="form-group radio_dep">
                                        <label class="col-lg-3 control-label"></label>
                                        <div class="col-lg-9">
                                            <div class="radio">
                                                <label>

                                                    <input name="radio_dep" value="1" type="radio" id="checkUser" >

                                                    <span class="text">{{#i18n}}selectSuperAdmin{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group radio_dep">
                                        <label class="col-lg-3 control-label"></label>
                                        <div class="col-lg-9">
                                            <div class="radio">
                                                <label>

                                                    <input name="radio_dep" value="1" type="radio" id="checkUser" >

                                                    <span class="text">{{#i18n}}selectadminfac{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <p id="xxx"></p>
                                    <div class="form-group radio_dep">
                                        <label class="col-lg-3 control-label"></label>
                                        <div class="col-lg-9">
                                            <div class="radio">
                                                <label>

                                                    <input name="radio_dep" value="2" type="radio"  id="checkUser">

                                                    <span class="text">{{#i18n}}selectadmindepart{{/i18n}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-offset-6 col-lg-8">

                                            <button id="btn_submit" name="bn" class="btn btn-primary" type="button"> {{#i18n}}button.submit{{/i18n}}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/datas}}
        </div>
    </div>


    <script src="{{_context_path}}/assets/js/datetime/bootstrap-datepicker.js"></script>

    <!--        <script type="text/javascript">
        
            $(document).ready(function () {
        
                $("#facultyId1").change(function () {
                    $("#departmentId1").empty();
                    var id = $("#facultyId1").val();
                    var data = {"facultyId": id};
                    getDepartment1('{{_context_path}}/api/user/user/register/get/datas/department', data);
                });
                $("#facultyId").change(function () {
                    $("#departmentId").empty();
                    var id = $("#facultyId").val();
                    var data = {"facultyId": id};
                    getDepartment('{{_context_path}}/api/user/user/register/get/department', data);
                });
        
            </script>-->
    <script type="text/javascript">

$(document).ready(function () {

    listsAcademic();


    $("#btn_submit").click(function () {
//alert(555555555555);
        var data = {};
        data['memberId'] = "{{#datas}}{{memberId}}{{/datas}}";
        data['fname'] = $("#fname").val();
        data['lname'] = $("#lname").val();
        data['genderId'] = $("#genderId").val();
        data['idCard'] = $("#idCard").val();
        data['dob'] = $("#dob").val();
        data['employeeCode'] = $("#employeeCode").val();
        data['employeeTypeId'] = $("#employeeTypeId").val();
        data['departmentId'] = $("#departmentId").val();
        data['facultyId'] = $("#facultyId").val();
        data['workStartDate'] = $("#workStartDate").val();
        data['matierId'] = $("#matierId").val();
        data['positionId'] = $("#positionId").val();
        data['userTypeId'] = $("#userTypeId").val();
//        data['registerNameTh'] = $("#registerNameTh").val();
//        data['registerLastNameTh'] = $("#registerLastNameTh").val();
//        data['registerNameEn'] = $("#registerNameEn").val();
//        data['registerLastNameEn'] = $("#registerLastNameEn").val();
//        data['registerIdCard'] = $("#registerIdCard").val();
//        //data['registerDateOfBirth'] = $("#registerDateOfBirth").val();
//        data['registerStaffCode'] = $("#registerStaffCode").val();
//        data['registerPositionId'] = $("#registerPositionId").val();
//        data['departmentId'] = $("#departmentId").val();
//        data['facultyId'] = $("#facultyId").val();
//        //data['registerDateAdded'] = $("#registerDateAdded").val();
//        data['statusOperation'] = $("#statusOperation").val();
//        data['positionsTypeId'] = $("#positionsTypeId").val();
//        data['positionsWorkId'] = $("#positionsWorkId").val();
//        data['departmentId1'] = $("#departmentId1").val();
//        data['facultyId1'] = $("#facultyId1").val();
        var jdata = {};
        jdata['data'] = data;
        $.ajax({
            url: '{{_context_path}}/api/user/member/update',
            data: jsonEncode(jdata),
            type: 'post', // 'or get'
            success: function (result) {
                alert(result.save);
                alert(result.message);
                getHTML('content-body', '{{_context_path}}/api/user/view/member/lists', null);
            }
        });
    });
    $('.date-picker').datepicker();
    function listsAcademic() {
        var academicId = '{{#datas}}{{academicId}}{{/datas}}';
        var academic = getPCode("academic");
        var html = "";
        if (academic != "") {
            $.each(academic, function (key, value) {
                if (value.id == academicId) {
                    html += "<option value='" + value["id"] + "' selected> " + value.value1 + " , " + value["value2"] + "</option>";
                } else {
                    html += "<option value='" + value["id"] + "'> " + value.value1 + " , " + value["value2"] + "</option>";
                }
            });
        } else {
            html = "<option value=''>ตำแหน่งทางวิชาการ</option>";
        }
        $("#academicId").html(html);
    }
});


    </script>
