
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}addregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1> {{#i18n}}addregister{{/i18n}} </h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            {{#datas}}
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}IdCard{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="idCard" name="registerIdCard" placeholder="{{#i18n}}registerIdCard{{/i18n}}"
                                               data-bv-notempty="true" value="{{idCard}}" disabled=""
                                               data-bv-notempty-message="{{#i18n}}registerIdCard{{/i18n}}" />
                                    </div>
                                </div>
                                <label for="reservation" class="col-lg-2 control-label">{{#i18n}}registerDateofBirth{{/i18n}}</label>

                                <div class="col-lg-4">

                                    <div class="controls col-lg-12">
                                        <div class="input-group">
                                            <input class="form-control cDate" value="{{dob}}" type="text" id="dob" disabled=""/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}academicPositionsId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="academic" name="academic" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{academic}}" disabled=""/>
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}titleNameId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="titlename" name="titlename" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{titlename}}" disabled="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{fname}}" disabled=""
                                               data-bv-notempty-message="{{#i18n}}registerName{{/i18n}}" />
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}registerLastName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="{{#i18n}}registerLastName{{/i18n}}"
                                               data-bv-notempty="true" value="{{lname}}" disabled=""
                                               data-bv-notempty-message="{{#i18n}}registerLastName{{/i18n}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}gender{{/i18n}}</label>
                                <div class="col-lg-4 control-group " id="gender">
                                    <div class="radio col-lg-6"><label><input name="genderId" disabled="" id="genderId" value="{{gender}}" type="radio" checked="checked" /><span class="text"></span>{{gender}}</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}registerAddress{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" name="address" id="address" placeholder="{{#i18n}}registerAddress{{/i18n}}"
                                                   data-bv-notempty="true" value="{{address}}" 
                                                   data-bv-notempty-message="{{#i18n}}registerAddress{{/i18n}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}internalPhone{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="internalPhone" name="internalPhone" placeholder="{{#i18n}}internalPhone{{/i18n}}"
                                                   data-bv-notempty="true" value="{{internalPhone}}" 
                                                   data-bv-notempty-message=" {{#i18n}}internalPhone{{/i18n}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyContactPhone{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="{{#i18n}}familyContactPhone{{/i18n}}"
                                                   data-bv-notempty="true" value="{{phone}}" 
                                                   data-bv-notempty-message=" {{#i18n}}familyContactPhone{{/i18n}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyMobile{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="{{#i18n}}familyMobile{{/i18n}}"
                                                   data-bv-notempty="true" value="{{mobile}}" 
                                                   data-bv-notempty-message=" {{#i18n}}familyMobile{{/i18n}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyEmail{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="email" name="email" placeholder="{{#i18n}}familyEmail{{/i18n}}"
                                                   data-bv-notempty="true" value="{{email}}" 
                                                   data-bv-notempty-message=" {{#i18n}}familyEmail{{/i18n}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-6 col-lg-8">

                                            <button id="btn_submit" name="btn_submit" class="btn btn-primary" > {{#i18n}}button.submit{{/i18n}}</button>

                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12" >
                    <div class="widget radius-bordered">
                        <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}registerStaffCode{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="employeeCode" name="employeeCode" placeholder="{{#i18n}}registerStaffCode{{/i18n}}"
                                               data-bv-notempty="true" value="{{employeeCode}}" disabled=""
                                               data-bv-notempty-message=" {{#i18n}}registerStaffCode{{/i18n}}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}positionsTypeNameTh{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="employeeTypeId" name="employeeTypeId" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{employeetype}}" disabled=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}positionsWorkNameTh{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="positionId" name="positionId" 
                                               data-bv-notempty="true" value="{{positionwork}}" disabled=""/>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}facultyId{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="facultyId" name="facultyId" 
                                               data-bv-notempty="true" value="{{faculty}}" disabled=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}departmentId{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="facultyId" name="facultyId" 
                                               data-bv-notempty="true" value="{{department}}" disabled=""/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}linePosition{{/i18n}}</label>
                                    <div class="col-lg-9 control-group " id="matier">
                                        <div class="radio col-lg-6"><label><input name="genderId" disabled="" id="genderId" value="{{matier}}" type="radio" checked="checked"/><span class="text"></span>{{matier}}</label></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}registerDateAdded{{/i18n}}</label>

                                    <div class="col-lg-9">
                                        <!--<div class="controls col-lg-12">-->
                                        <div class="input-group">
                                            <input class="form-control cDate" disabled="" type="text" value="{{workStartDate}}"  id="workStartDate" style="z-index: 9999;" />
                                            <span class="input-group-addon"> 
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <!--</div>-->
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}registerSalaryNow{{/i18n}}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="salary" name="salaryPresent" placeholder="{{#i18n}}registerSalaryNow{{/i18n}}"
                                               data-validation="required" data-validation-error-msg="*กรุณาระบุเงินเดือนปัจุบัน"
                                               data-validation-error-msg-container="#salaryPresent-msg-error" value="{{#datas}}{{salary}}{{/datas}}" />
                                    </div>
                                    <div class="col-lg-offset-4" id="salaryPresent-msg-error">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="reservation" class="col-lg-3 control-label">ปรับเงินเดือนวันที่</label>
                                    <div class="col-lg-9">
                                        <!--<div class="controls col-lg-12">-->
                                        <div class="input-group">
                                            <input class="form-control cDate" type="text" value="{{#datas}}{{salaryDate}}{{/datas}}"  id="salaryDate" style="z-index: 9999;" disabled=""/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <!--</div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {{/datas}}
    </div>
</div>

<!--        <script type="text/javascript">
    
        $(document).ready(function () {
    
            $("#facultyId1").change(function () {
                $("#departmentId1").empty();
                var id = $("#facultyId1").val();
                var data = {"facultyId": id};
                getDepartment1('{{_context_path}}/api/user/user/register/get/datas/department', data);
            });
            $("#facultyId").change(function () {
                $("#departmentId").empty();
                var id = $("#facultyId").val();
                var data = {"facultyId": id};
                getDepartment('{{_context_path}}/api/user/user/register/get/department', data);
            });
    
        </script>-->
<script type="text/javascript">

    $(document).ready(function () {
        $(".cDate").datepicker({language: 'th-th', format: 'dd-mm-yyyy', autoclose: true});



        $("#btn_submit").click(function () {
//alert(555555555555);
            var contact = {};
            var data = {};
            data['memberId'] = "{{#datas}}{{memberId}}{{/datas}}";
            contact['address'] = $("#address").val();
            contact['internalPhone'] = $("#internalPhone").val();
            contact['phone'] = $("#phone").val();
            contact['mobile'] = $("#mobile").val();
            contact['email'] = $("#email").val();

            data['contact'] = contact;

            var jdata = {};
            jdata['data'] = data;
            $.ajax({
                url: '{{_context_path}}/api/member/member/update',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    //alert(result.save);
                    if (result.update == true) {
                        getHTML('content-body', '{{_context_path}}/api/member/view/member/show/{{#datas}}{{memberId}}{{/datas}}', null);
                        Notify('แก้ไขข้อมูลสำเร็จ', 'top-right', '4000', 'blue', 'fa fa-edit', true);
                    } else {
                        Notify('แก้ไขข้อมูลไม่สำเร็จ !', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                    }
                }
            });
        });
//    $('.date-picker').datepicker();



    });


</script>
