
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">ข้อมูลส่วนตัว</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
<!--            <h1> {{#i18n}}addregister{{/i18n}} </h1>-->
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">

            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">ข้อมูลผู้ใช้งาน</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerIdCard{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="idCard" name="registerIdCard" placeholder="{{#i18n}}registerIdCard{{/i18n}}"
                                               data-bv-notempty="true" value="{{#datas}}{{idCard}}{{/datas}}" disabled=""
                                               data-bv-notempty-message="{{#i18n}}registerIdCard{{/i18n}}" />
                                    </div>
                                </div>
                                <label for="reservation" class="col-lg-2 control-label">{{#i18n}}registerDateofBirth{{/i18n}}</label>

                                <div class="col-lg-4">

                                    <div class="controls col-lg-12">
                                        <div class="input-group">
                                            <input class="form-control cDate" value="{{#datas}}{{dob}}{{/datas}}" type="text" id="dob" disabled=""/>
                                            <span class="input-group-addon"> 
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}academicPositionsId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <select class="form-control col-lg-12" id="academicId" name="academicId" data-bv-field="country" disabled="">
                                            <option value="">{{#i18n}}academicPositionsId{{/i18n}}</option>
                                            {{#academic}}
                                            <option value="{{id}}">{{value1}} , {{value2}}</option>
                                            {{/academic}}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}titleNameId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <select class="form-control col-lg-12" id="titleNameId" name="titleNameId" data-bv-field="country"  
                                                data-validation="required" data-validation-error-msg="*กรุณาเลือกคำนำหน้าชื่อ" 
                                                data-validation-error-msg-container="#titleNameId-msg-error" disabled="">
                                            <option value="">{{#i18n}}titleNameId{{/i18n}}</option>
                                            {{#titleName}}
                                            <option value="{{id}}">{{value1}} , {{value2}}</option>
                                            {{/titleName}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true" value="{{#datas}}{{fname}}{{/datas}}"
                                               data-bv-notempty-message="{{#i18n}}registerName{{/i18n}}" disabled=""/>
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}registerLastName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="{{#i18n}}registerLastName{{/i18n}}"
                                               data-bv-notempty="true" value="{{#datas}}{{lname}}{{/datas}}"
                                               data-bv-notempty-message="{{#i18n}}registerLastName{{/i18n}}" disabled=""/>
                                    </div>
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}gender{{/i18n}}</label>
                                <div class="col-lg-4 control-group " id="gender">
                                    {{#gender}}
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="genderId" id="genderId" value="{{id}}" type="radio" disabled="">
                                            <span class="text">{{value1}} </span> </label>
                                    </div>
                                    {{/gender}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header"> <span class="widget-caption">ข้อมูลสมาชิก</span> </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="form-title"></div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}registerStaffCode{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="employeeCode" name="employeeCode" placeholder="{{#i18n}}registerStaffCode{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{employeeCode}}{{/datas}}"
                                                   data-bv-notempty-message=" {{#i18n}}registerStaffCode{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}positionsTypeNameTh{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="employeeTypeId" name="employeeTypeId" data-bv-field="country" disabled="">
                                                <option value="">ระบุประเภทพนักงาน</option>
                                                {{#employeeType}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/employeeType}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}positionsWorkNameTh{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="positionId" name="positionId" data-bv-field="country" disabled="">
                                                <option value="">ระบุตำแหน่งงาน</option>
                                                {{#position}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/position}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}facultyId{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="facultyId" name="facultyId" data-bv-field="country" disabled="">
                                                <option value="">เลือกคณะวิชา/สำนัก</option>
                                                {{#faculty}}
                                                <option value="{{id}}">{{value1}} , {{value2}}</option>
                                                {{/faculty}}
                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}departmentId{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <select class="form-control" id="departmentId" name="departmentId" data-bv-field="country" disabled="">

                                            </select>
                                            <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}linePosition{{/i18n}}</label>
                                        <div class="col-lg-9 control-group " id="matier">
                                            {{#matier}}  
                                            <div class="radio col-lg-6">
                                                <label>
                                                    <input  value="{{id}}" id="matierId" name="matierId" type="radio" disabled="">
                                                    <span class="text">{{value1}}</span> </label>
                                            </div>
                                            {{/matier}}  
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="reservation" class="col-lg-3">{{#i18n}}registerDateAdded{{/i18n}}</label>

                                        <div class="col-lg-9">
                                            <!--<div class="controls col-lg-12">-->
                                            <div class="input-group">
                                                <input class="form-control cDate" type="text" value="{{#datas}}{{workStartDate}}{{/datas}}"  id="workStartDate" style="z-index: 9999;" disabled=""/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <!--</div>-->
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}registerSalaryNow{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="salary" name="salaryPresent" placeholder="{{#i18n}}registerSalaryNow{{/i18n}}"
                                                   data-validation="required" data-validation-error-msg="*กรุณาระบุเงินเดือนปัจุบัน"
                                                   data-validation-error-msg-container="#salaryPresent-msg-error" value="{{#datas}}{{salary}}{{/datas}}" disabled=""/>
                                        </div>
                                        <div class="col-lg-offset-4" id="salaryPresent-msg-error">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="reservation" class="col-lg-3">ปรับเงินเดือนวันที่</label>

                                        <div class="col-lg-9">
                                            <!--<div class="controls col-lg-12">-->
                                            <div class="input-group">
                                                <input class="form-control cDate" type="text" value="{{#datas}}{{salaryDate}}{{/datas}}"  id="salaryDate" style="z-index: 9999;" disabled=""/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <!--</div>-->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header"> <span class="widget-caption">ข้อมูลติดต่อ</span> </div>
                            <div class="widget-body">
                                <div class="form-horizontal">
                                    <div class="form-title"></div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}registerAddress{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" name="address" id="address" placeholder="{{#i18n}}registerAddress{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{address}}{{/datas}}"
                                                   data-bv-notempty-message="{{#i18n}}registerAddress{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}internalPhone{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="internalPhone" name="internalPhone" placeholder="{{#i18n}}internalPhone{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{internalPhone}}{{/datas}}"
                                                   data-bv-notempty-message=" {{#i18n}}internalPhone{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyContactPhone{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="phone" name="phone" placeholder="{{#i18n}}familyContactPhone{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{phone}}{{/datas}}"
                                                   data-bv-notempty-message=" {{#i18n}}familyContactPhone{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyMobile{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="{{#i18n}}familyMobile{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{mobile}}{{/datas}}"
                                                   data-bv-notempty-message=" {{#i18n}}familyMobile{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">{{#i18n}}familyEmail{{/i18n}}</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="email" name="email" placeholder="{{#i18n}}familyEmail{{/i18n}}"
                                                   data-bv-notempty="true" value="{{#datas}}{{email}}{{/datas}}"
                                                   data-bv-notempty-message=" {{#i18n}}familyEmail{{/i18n}}" disabled=""/>
                                        </div>
                                    </div>




                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--        <script type="text/javascript">
        
            $(document).ready(function () {
        
                $("#facultyId1").change(function () {
                    $("#departmentId1").empty();
                    var id = $("#facultyId1").val();
                    var data = {"facultyId": id};
                    getDepartment1('{{_context_path}}/api/user/user/register/get/datas/department', data);
                });
                $("#facultyId").change(function () {
                    $("#departmentId").empty();
                    var id = $("#facultyId").val();
                    var data = {"facultyId": id};
                    getDepartment('{{_context_path}}/api/user/user/register/get/department', data);
                });
        
            </script>-->
    <script type="text/javascript">

        $(document).ready(function () {
            $(".cDate").datepicker({language: 'th-th', format: 'dd-mm-yyyy', autoclose: true});
            var academic = '{{#datas}}{{academicId}}{{/datas}}';
            var titleName = '{{#datas}}{{titleNameId}}{{/datas}}';
            var gender = '{{#datas}}{{genderId}}{{/datas}}';
            var employeeType = '{{#datas}}{{employeeTypeId}}{{/datas}}';
            var position = '{{#datas}}{{positionId}}{{/datas}}';
            var faculty = '{{#datas}}{{facultyId}}{{/datas}}';
            var matier = '{{#datas}}{{matierId}}{{/datas}}';
            var userType = '{{#datas}}{{userTypeId}}{{/datas}}';
            var department = '{{#datas}}{{departmentId}}{{/datas}}';
            $("#academicId").val(academic);
            $("#titleNameId").val(titleName);
            $("#employeeTypeId").val(employeeType);
            $("#positionId").val(position);
            $("#facultyId").val(faculty);
            $("#userTypeId").val(userType);
            listsDepartment(faculty);
            $("#departmentId").val(department);

            $('input:radio[name="genderId"]').filter('[value="' + gender + '"]').attr('checked', true);
            $('input:radio[name="matierId"]').filter('[value="' + matier + '"]').attr('checked', true);
            $("#facultyId").change(function () {
                var id = $("#facultyId").val();
                listsDepartment(id);

            });
            function listsDepartment(facultyId) {
                $.ajax({
                    url: '{{_context_path}}/api/taxonomy/taxonomy/getParentId',
                    data: {parentId: facultyId},
                    async: false,
                    success: function (result) {
                        var data = result["lists"];
                        var html;
                        if (data == "") {
                            html = '<option value="">สังกัด</option>';
                        } else {
                            $.each(data, function (key, value) {
                                html += "<option value='" + value.id + "'>" + value.value1 + " , " + value.value2 + " </option>";
                            });
                        }
                        $("#departmentId").html(html);
                    }
                });
            }

        });


    </script>
