<html>
    <head>
        <meta charset="UTF-8">
        <title>ระบบสาระสนเทศสวัสดิการ</title>
        <link id="bootstrap-rtl-link" href="{{_context_path}}/assets/css/bootstrap.min.css" rel="stylesheet" />

        <link href="{{_context_path}}/assets/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{_context_path}}/assets/css/weather-icons.min.css" rel="stylesheet" />


        <link id="beyond-link" href="{{_context_path}}/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
        <link href="{{_context_path}}/assets/css/demo.min.css" rel="stylesheet" />
        <link href="{{_context_path}}/assets/css/typicons.min.css" rel="stylesheet" />
        <link href="{{_context_path}}/assets/css/animate.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="{{_context_path}}/assets/auto/jquery-ui.css">

        <link id="skin-link" href="{{_context_path}}/assets/css/skins/orange.min.css" rel="stylesheet" type="text/css" />    
    </head>
    <body>
        <div class="wrapper">

            <div id="page-signin-bg" style="  height: 100%;
                 left: 0;
                 overflow: hidden;
                 position: fixed ;
                 top: 0;
                 width: 100%;">
                <!-- Background overlay -->
                <div class="overlay"></div>
                <!-- Replace this with your bg image -->
                <img src="{{_context_path}}/assets/img/cover_4.png" alt="">
            </div>
            <!-- / Page background -->

            <div class="logo" style="  margin: 0 auto;
                 padding: 20px 0;
                 position: relative;
                 text-align: center;
                 transition: all 550ms ease-in-out 0s;
                 width: 320px;
                 margin-top: 50px;
                 border: 2px;
                 border-radius: 5px;
                 padding: 20px;
                 ">
                <img src="{{_context_path}}/assets/img/logo.png" alt="logo"><br>

            </div>
            <form id="form" method="post" action="{{_context_path}}/api/oauth/authen/authorization">
                <input type="hidden" name="code" value="{{code}}" />
                <div class="login-container animated fadeInDown">
                    <div class="loginbox bg-white">
                        <div class="loginbox-title">{{#i18n}}welcome.welfare{{/i18n}}</div>
                        <div class="loginbox-social">

                        </div>
                        <div class="loginbox-or">
                            <div class="or-line"></div>
                            <div style="position: absolute;
                                 top: 0;
                                 -lh-property: 0;
                                 left: -webkit-calc(50% - 25px);
                                 left: -moz-calc(50% - 25px);
                                 left: calc(50% - 25px);
                                 width: 50px;
                                 height: 20px;
                                 background-color: #fff;
                                 color: #999;
                                 margin: 0 auto;"></div>
                        </div>
                        <div class="loginbox-textbox">

                            <input type="text" class="form-control" id="username"  name="username" placeholder="ชื่อผู้ใช้งาน"  value="{{username}}" />

                        </div>
                        <div class="loginbox-textbox">

                            <input type="password" class="form-control" id="password"  name="password" placeholder="รหัสผ่าน" value="{{password}}"/>

                        </div>
                        <div class="loginbox-forgot">
<!--                            <a href="#">Forgot Password?</a>-->
                        </div>
                        <div class="loginbox-submit">

                            <button id="btn_submit" class="btn btn-primary btn-block">{{#i18n}}login.welfare{{/i18n}} </button>   

                        </div>
                        <div class="loginbox-submit">

                        </div>

                    </div>

                </div>
            </form>
        </div>
    </body>
</html>