
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}taxonomy.add{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>{{#i18n}}taxonomy.add{{/i18n}}</h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.id{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" disabled id="id" name="id" value="{{id}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.value1{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="value1" name="value1" value="{{value1}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.value2{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="value2" name="value2" value="{{value2}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.optional{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="optional" name="optional" value="{{optional}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.parentId{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <select id="parentId" name="parentId" class="form-control">
                                            <option value="0">Create New</option>
                                            {{#parent}}
                                            <option value="{{id}}">[{{pCode}}] {{value1}} , {{value2}} [{{code}}]</option>
                                            {{/parent}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.parent{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <select class="form-control" id="parent" name="parent">
                                            <option value="Y">{{#i18n}}Parent{{/i18n}}</option>
                                            <option value="N">{{#i18n}}Child{{/i18n}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.pCode{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="pCode" name="pCode" value="{{pCode}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.code{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="code" name="code" value="{{code}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-6 col-lg-8">

                                    <button id="btn_submit" class="btn btn-primary"> {{#i18n}}button.submit{{/i18n}}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btn_submit").click(function () {
            var data = {};
            data['id'] = $("#id").val();
            data['parentId'] = $("#parentId").val();
            data['parent'] = $("#parent").val();
            data['pCode'] = $("#pCode").val();
            data['code'] = $("#code").val();
            data['value1'] = $('#value1').val();
            data['value2'] = $('#value2').val();
            data['optional'] = $('#optional').val();
            var jdata = {};
            jdata['taxonomy'] = data;
            if (data['value1'] != "") {
                var result = sendData('{{_context_path}}/api/taxonomy/taxonomy/save', jsonEncode(jdata));
                if (result.save == true) {
                    alert("บันทึกเรียบร้อย");
                    getHTML('content-body', '{{_context_path}}/api/taxonomy/view/lists', null);
                } else {
                    alert("บันทึกไม่สำเร็จ");
                }
            } else {
                alert("กรุณาใส่ Value1");
                $("#value1").focus();
            }
            return false;
        });

    });
</script>