
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">
                <a href="#"
                   data-id="content-body"
                   data-api="{{_context_path}}/api/taxonomy/view/lists"
                   onclick="btnHTML(this)">รายการข้อมูลพื้นฐาน
                </a>
            </li>
            <li class="active">{{#i18n}}taxonomy.edit{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
           
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}taxonomy.edit{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            {{#lists}}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.id{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" disabled id="id" name="id" value="{{id}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.value1{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="value1" name="value1" value="{{value1}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.value2{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="value2" name="value2" value="{{value2}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.optional{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="optional" name="optional" value="{{optional}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.parentId{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <select id="parentId" name="parentId" class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.pCode{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" disabled  id="pCode" name="pCode" value="{{pCode}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.parent{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <select class="form-control" id="parent" name="parent">
                                            <option value="Y">{{#i18n}}Parent{{/i18n}}</option>
                                            <option value="N">{{#i18n}}Child{{/i18n}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}taxonomy.code{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="code" name="code" value="{{code}}" />
                                    </div>
                                </div>
                            </div>
                            {{/lists}}
                            <div class="form-group">
                                <div class="col-lg-offset-6 col-lg-8">

                                    <button id="btn_submit" class="btn btn-primary"> {{#i18n}}button.submit{{/i18n}}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var parentId = '{{#lists}}{{parentId}}{{/lists}}';
        var id = '{{#lists}}{{id}}{{/lists}}';
        var parent = '{{#lists}}{{parent}}{{/lists}}';
        $("#parent option[value='" + parent + "']").attr("selected", "selected");
        $.ajax({
            url: '{{_context_path}}/api/taxonomy/taxonomy/getParent',
            async: false,
            success: function (result) {
                var html = "<option value='0'>Create New</option>";
                $.each(result["lists"], function (key, value) {
                    if (value.id != id) {
                        html += "<option value='" + value.id + "'>[" + value.pCode + "] " + value.value1 + " , " + value.value2 + " (" + value.code + ")</option>";
                    }
                });
                $("#parentId").html(html);
                $("#parentId option[value='" + parentId + "']").attr("selected", "selected");
                $("#parentId").click(function () {
                    var value = $(this).val();
                    var pCode = $("#parentId option[value='" + value + "']").text();
                    if (value != "0") {
                        pCode = pCode.substr(pCode.indexOf('('));
                        pCode = pCode.replace("(", "");
                        pCode = pCode.replace(")", "");
                        $("#pCode").val(pCode);
                    } else {
                        $("#pCode").val("");
                    }
                });
            }
        });
        $("#btn_submit").click(function () {
            var data = {};
            data['id'] = $("#id").val();
            data['parentId'] = $("#parentId").val();
            data['parent'] = $("#parent").val();
            data['pCode'] = $("#pCode").val();
            data['code'] = $("#code").val();
            data['value1'] = $('#value1').val();
            data['value2'] = $('#value2').val();
            data['optional'] = $('#optional').val();
            if (data['parent'] == 'Y' && data['code'] == '') {
                alert("กรุณาใส่ Code");
                $("#code").focus();
            } else if (data['parentId'] == '0' && data['parent'] == 'N') {
                alert("Error! ไม่สามารถเป็น Child ได้");
            } else {
                var jdata = {};
                jdata['taxonomy'] = data;
                if (data['value1'] != "") {
                    sendData('{{_context_path}}/api/taxonomy/taxonomy/update', jsonEncode(jdata),
                            function (result) {
                                if (result.update == true) {
                                    alert("บันทึกเรียบร้อย");
                                    getHTML('content-body', '{{_context_path}}/api/taxonomy/view/lists', null);
                                } else if (result.update == "delChildBefore") {
                                    alert("กรุณาลบ Child ก่อนที่จะเปลี่ยนตัวเองจาก Parent เป็น Child");
                                } else {
                                    alert("บันทึกไม่สำเร็จ");
                                }
                            });

                } else {
                    alert("กรุณาใส่ Value1");
                    $("#value1").focus();
                }
            }

            return false;
        });
    });
</script>