<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                {{#i18n}}listregister{{/i18n}}
            </h1>
        </div>
        <!--Header Buttons-->

        <!--/Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}taxonomy{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-md-8">
                            <select id="selectParent" class="col-md-12">
                                <option value="0">เลือกทั้งหมด</option>
                                {{#parent}}
                                <option value="{{id}}">[{{pCode}}] {{value1}},{{value2}} [{{code}}]</option>
                                {{/parent}}
                            </select>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button class="btn btn-primary" 
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/taxonomy/view/add"
                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>เพิ่มข้อมูลใหม่ {{test}}</button> 
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll rows">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th class="center">{{#i18n}}id{{/i18n}}</th>
                                        <th class="center">{{#i18n}}parentId{{/i18n}}</th>
                                        <th class="center">{{#i18n}}parent{{/i18n}}</th>
                                        <th class="center">{{#i18n}}pCode{{/i18n}}</th>
                                        <th class="center">{{#i18n}}code{{/i18n}}</th>
                                        <th class="center">{{#i18n}}value1{{/i18n}}</th>
                                        <th class="center">{{#i18n}}value2{{/i18n}}</th>
                                        <th class="center">{{#i18n}}optional{{/i18n}}</th>

                                        <th class="center">{{#i18n}}edit{{/i18n}}</th>
                                        <th class="center">{{#i18n}}delete{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#child}}  
                                    <tr class="selectable">
                                        <td>{{id}}</td>
                                        <td>{{parentId}}</td>
                                        <td>{{parent}}</td>
                                        <td>{{pCode}}</td>
                                        <td>{{code}}</td>
                                        <td>{{value1}}</td>
                                        <td>{{value2}}</td>
                                        <td>{{optional}}</td>
                                        <td class="center">
                                            <button class="btn btn-info btn-xs" 
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/taxonomy/view/edit/{{id}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-plus"></i>{{#i18n}}edit{{/i18n}}</button>
                                        </td>

                                        <td class="center">
                                            <button class='btn btn-info btn-xs delete' value='{{id}}'>
                                                <i class="fa fa-edit"></i>
                                                {{#i18n}}delete{{/i18n}}
                                            </button>
                                        </td>
                                    </tr>
                                    {{/child}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
//        var parent = '{{#parent}}{{id}}{{/parent}}';
        var child = '{{#child}}{{parentId}}{{/child}}';
        var temp1 = child.substr(0, 6);
        var temp2 = child.substr(6, 6);
        if (temp1 == temp2 || temp2 == "") {
            $("#selectParent").val(temp1);
        }
        $("#selectParent").select2();
        $("#selectParent").change(function (e) {
            var id = $(this).val();
            getHTML('content-body', '{{_context_path}}/api/taxonomy/view/lists', {parentId: id});
        });
        $(".delete").click(function () {
            var data = {};
            data['id'] = $(this).val();
            var jdata = {};
            jdata['taxonomy'] = data;
            if (confirm("คุณต้องการลบ?")) {
                sendData('{{_context_path}}/api/taxonomy/taxonomy/delete', jsonEncode(jdata),
                        function (result) {
                            if (result.delete == true) {
                                alert("ลบเรียบร้อย");
                                getHTML('content-body', '{{_context_path}}/api/taxonomy/view/lists', null);
                            } else if (result.delete == "delChildBefore") {
                                alert("กรุณาลบ Child ก่อนที่จะเปลี่ยนตัวเองจาก Parent เป็น Child");
                            } else {
                                alert("ลบไม่สำเร็จ");
                            }
                        });

            }
        });
    });
</script>