<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{_context_path}}">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}menu.fund{{/i18n}}</li>
        </ul>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header"> <span class="widget-caption">กองทุนสำรองเลี้ยงชีพ</span> </div>
                    <div class="widget-body">
                        
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <label class="col-lg-2 control-label">
                                <select id="filterCode" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                    <option value="faculty">คณะ</option>
                                    <option value="employeeType" >ประเภทพนักงาน</option>
                                    <option value="memberActive" >สถานะพนักงาน</option>


                                    <!-- … -->
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filtervalue" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>

                            </label>
                            <label class="col-lg-3 control-label">
                                <select id="filterdepartment" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>
                                <input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" value="{{searchvalue}}">
                                <p id="demo" style="color:#d14"></p>
                            </label>


                            <div class="col-lg-2">
                                <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>
                        </div>
                        <div class="pull-right">
                            <label>
                                <button type="button" class="btn btn-primary" 
                                        data-toggle="modal" 
                                        data-target="#uploadModal" 
                                        data-whatever="@fat">
                                    <i class="glyphicon glyphicon-upload"></i>{{#i18n}}button.upload{{/i18n}} CSV
                                </button>
                                <button type="button" class="btn btn-yellow">
                                    <a href= "{{_context_path}}/apps/fund/excel/employeeEtc.xlsx">
                                        <i class="fa fa-file-excel-o"></i>{{#i18n}}button.download{{/i18n}}ฟอร์ม CSV
                                    </a>
                                </button>
                            </label>

                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="rows">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th class="center">{{#i18n}}rowNo{{/i18n}}</th>
                                        <th class="center">{{#i18n}}idCard{{/i18n}}</th>
                                        <th class="center">{{#i18n}}fname{{/i18n}} {{#i18n}}lname{{/i18n}}</th>
                                        <th class="center">{{#i18n}}department{{/i18n}}</th>
                                        <th class="center">{{#i18n}}saving{{/i18n}}</th>
                                        <th class="center">{{#i18n}}grantInAid{{/i18n}}</th>
                                        <th class="center">{{#i18n}}total{{/i18n}}</th>
                                        <th class="center">{{#i18n}}dateNotice{{/i18n}}</th>
                                        <th class="center">{{#i18n}}details{{/i18n}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#lists}}  
                                    <tr class="selectable">
                                        <td>{{rowNo}}</td>
                                        <td>{{idCard}}</td>
                                        <td>{{titleName}} {{fname}} {{lname}}</td>
                                        <td>{{department1}} {{faculty1}}</td>
                                        <td>{{saving}}</td>
                                        <td>{{grantInAid}}</td>
                                        <td>{{total}}</td>
                                        <td>{{dateNotice}}</td>
                                        <td class="center">
                                            <button class="btn btn-info btn-xs" 
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/fund/view/extra/user/lists"
                                                    data-object="memberId"
                                                    data-param="{{memberId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-plus"></i>{{#i18n}}details{{/i18n}}</button>
                                        </td>
                                    </tr>
                                    {{/lists}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">อัพโหลดไฟล์กองทุนของพนักงานมหาวิทยาลัย</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">ไฟล์ CSV:</label>
                    <form enctype="multipart/form-data" method="post" class="dropzone dz-square" id="frm_upload">
                        <div class="dz-default dz-message"><span>คลิก/ลากวางไฟล์ .csv เพื่ออัพโหลด</span></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#i18n}}button.close{{/i18n}}</button>
                <button type="button" class="btn btn-primary" id="btn_upload">{{#i18n}}button.upload{{/i18n}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="listsErrorModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header well bg-magenta">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">รายชื่อที่ไม่สามารถบันทึกลงระบบได้</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped table-bordered table-condensed">
                    <thead>
                    <th class="center">{{#i18n}}rowNo{{/i18n}}</th>
                    <th class="center">{{#i18n}}idCard{{/i18n}}</th>
                    <th class="center">{{#i18n}}fname{{/i18n}} {{#i18n}}lname{{/i18n}}</th>
                    <th class="center">{{#i18n}}saving{{/i18n}}</th>
                    <th class="center">{{#i18n}}grantInAid{{/i18n}}</th>
                    <th class="center">{{#i18n}}total{{/i18n}}</th>
                    <th class="center">{{#i18n}}dateNotice{{/i18n}}</th>
                    </thead>
                    <tbody id="tableListsError">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        data-id="content-body"
                        data-api="{{_context_path}}/api/fund/view/extra/admin/lists"
                        onclick="setTimeout(
                                        function () {
                                            btnHTML(this)
                                        }, 1000)">
                    {{#i18n}}button.close{{/i18n}}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#filterdepartment").hide();
        
        $("#filterCode").change(function () {
            var pCode = $("#filterCode").val();
            var data;
            if (pCode == "faculty") {

                data = getCode(pCode);
                $("#filterdepartment").show();
                $("#searchName").hide();
            } else if (pCode != "name") {
                data = getPCode(pCode);
                $("#filterdepartment").hide();
                $("#searchName").show();
            }

            var html;
            if ($("#filterCode").val() == "name") {

                $("#searchName").show();

            } else {
                if (data == "") {
                    html = '<option value="">โปรดเลือก</option>';

                } else {
                    $.each(data, function (key, value) {
                        html += "<option value='" + value.id + "'>" + value.value1 + "</option>";

                    });
                }


                $("#filtervalue").html(html);
            }



        });
        
        $("#filtervalue").change(function () {

            var id = $("#filtervalue").val();
            var pCode = $("#filterCode").val();

            $.ajax({
                url: '{{_context_path}}/api/taxonomy/taxonomy/getParentId',
                data: {parentId: id},
                success: function (result) {
                    var data = result["lists"];
                    var html;
                    if (data == "") {
                        html = '<option value="">สังกัด</option>';
                    } else {
                        $.each(data, function (key, value) {

                            html += "<option value='" + value.id + "'>" + value.value1 + "</option>";
                        });
                    }
                    if (pCode == "faculty") {

                        $("#filterdepartment").show();
                        $("#filterdepartment").html("<option value='' selected='' disabled=''>เลือก</option>" + html);
                    }
                    else {

                        $("#filterdepartment").hide();
                        $("#searchName").show();
                    }

                }
            });
        });
        
        $("#btnSearch").click(function () {
            var searchName = $("#searchName").val();
            var filterCode = $("#filterCode").val();
            var filtervalue = $("#filtervalue").val();
            var filterdepartment = $("#filterdepartment").val();
            if (searchName) {
                if (searchName == "") {
                    $("#demo").html("กรุณากรอกข้อมูลค้นหา");
                } else {
                    var data = {"searchName": searchName};
                }
            }
            else if (filterdepartment) {
                if (filterdepartment != "") {

                    var filterCode = 'department';
                    var data = {
                        "filterCode": filterCode,
                        "filtervalue": filterdepartment
                    };
                }



            }
            else {
                var data = {
                    "filterCode": filterCode,
                    "filtervalue": filtervalue
                };
                
                                        

            }
            
            sendData('{{_context_path}}/api/fund/view/extra/admin/lists', data,
                        function (result) {
                            var body = "";
//                            console.log(result);
                            $.each(result.view, function (k, v) {
                                body += "<tr>" +
                                        "<td>" + v.rowNo + "</td>" +
                                        "<td>" + v.idCard + "</td>" +
                                        "<td>" + v.titleName + " " + v.fname + " " + v.lname + "</td>" +
                                        "<td>" + v.department1 + " " + v.faculty1 + "</td>" +
                                        "<td>" + v.saving + "</td>" +
                                        "<td>" + v.grantInAid + "</td>" +
                                        "<td>" + v.total + "</td>" +
                                        "<td>" + v.dateNotice + "</td>" +
                                        "<td>" +
                                        "<button class='btn btn-info btn-xs'" +
                                        "data-id='content-body'" +
                                        "data-api='{{_context_path}}/api/fund/view/extra/user/lists '" +
                                        "data-object='memberId'"+
                                        "data-param='"+v.memberId+"'"+            
                                        "onclick = 'btnHTML(this)'>" +
                                        "<i class = 'fa fa-plus'></i>{{#i18n}}details{{/i18n}}" +
                                        "</button>" +
                                        "</td>" +
                                        "</tr>";
                            });
                            $("#title").html(body);
                           
                            
                        });
        });
        
        
        
        var myDropzone = new Dropzone("#frm_upload", {
            url: "{{_context_path}}/api/fund/upload/extra",
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: false,
            acceptedFiles: '.csv',
            maxFiles: 1,
            init: function () {
                $("#btn_upload").click(function () {
                    myDropzone.processQueue();
                });
            },
            sending: function (file, xhr, formData) {
//                var properser_id = $.jx.state.get('properser', 'properser_id');
//                formData.append('properser_id', properser_id);
            },
            success: function (file, txt) {
                if (txt.upload == true) {
                    $("#uploadModal").modal('hide');
                    myDropzone.removeFile(file);
                    Notify('บันทึกข้อมูลเรียบร้อย', 'top-right', '4000', 'success', 'fa-check', true);
                    setTimeout(function () {
                        getHTML('content-body', '{{_context_path}}/api/fund/view/extra/admin/lists', null);
                    }, 1000);

                } else if (txt.upload == "cantUpload") {
                    Notify('ไม่สามารถอัพไฟล์ได้', 'top-right', '4000', 'danger', 'fa-check', true);
                } else {
                    $("#uploadModal").modal('hide');
                    var error = txt.upload;
                    var html = "";
                    $.each(error, function (k, v) {
                        html += '<tr>'
                        '<td class="center">' + (k + 1) + '</td>' +
                                '<td class="center">' + v.idCard + '</td>' +
                                '<td class="center">' + v.fname + ' ' + v.lname + '</td>' +
                                '<td class="center">' + v.saving + '</td>' +
                                '<td class="center">' + v.grantInAid + '</td>' +
                                '<td class="center">' + v.total + '</td>' +
                                '<td class="center">' + v.dateNotice + '</td>' +
                                +'</tr>';
                    });
                    $("#tableListsError").html(html);
                    $("#listsErrorModal").modal('show');
                    // Notify('มีสมาชิกส่วบันทึกลงฐานข้อมูลได้', 'top-right', '4000', 'warning', 'fa-check', true);
                }
            }
        });
    });
</script>