
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}welfare.list{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}welfare.list{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>


                        <div class="pull-right">

                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/welfare/view/admin/welfare/add"
                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>
                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{#i18n}}number{{/i18n}}</th>
                                        <th>{{#i18n}}welfare.name{{/i18n}}</th>
                                        <th>{{#i18n}}welfare.dateStart{{/i18n}}</th>
                                        <th>{{#i18n}}welfare.dateEnd{{/i18n}}</th>
                                        <th>{{#i18n}}welfare.resetTime{{/i18n}}</th>
                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datas}}
                                    <tr class="selectable">
                                        <td>{{rowNo}}</td>
                                        <td>{{name}}</td>
                                        <td>{{dateStart}}</td>
                                        <td>{{dateEnd}}</td>
                                        <td>{{resetTime}}</td>
                                        <td class="center">
                                          
                                            <button class="btn btn btn-default btn-xs edit btn_history"
                                                   data-id="content-body"
                                                    data-api="{{_context_path}}/api/welfare/view/admin/report/welfare"
                                                    data-object='welfareId'
                                                    data-param='{{welfareId}}'
                                                    onclick="btnHTML(this)">
                                                
                                                <i class="fa fa fa-eye"></i>{{#i18n}}history{{/i18n}}
                                            </button>
                                            
                                            <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/welfare/view/admin/welfare/edit"
                                                    data-object='welfareId'
                                                    data-param='{{welfareId}}'
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>
                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{welfareId}}" >{{#i18n}}inactive{{/i18n}}</button>
                                        </td>

                                    <tr class="details1" style="display: none;" >
                                        <td class="details" colspan="6">
                                            <div class="well bordered-left bordered-themeprimary" id="showDetails"> </div> 


                                                    

                                        </td>
                                    </tr>

                                    </tr>
                                    {{/datas}}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<!--<script>
            $(function() {
            var availableTags = [
            {{#datas}}"{{name}}",
            {{/datas}}
            ];
                    $("#SearchName").autocomplete({
            source: availableTags
            });
            });</script>-->

<script>
    
    $('.btn-del').click(function () {
        var Id = $(this).attr('row-index');
        if (confirm("คุณต้องการปิดใช้งาน?")) {
            var data = {"Id": Id};
            sendData('{{_context_path}}/api/welfare/welfare/delete', data,
                    function (result) {
                        if (result.delete == true) {
                            getHTML('content-body', '{{_context_path}}/api/welfare/view/admin/welfare/lists', null);
                            Notify('ปิดใช้งานข้อมูลสำเร็จ!', 'top-right', '4000', 'danger', 'fa fa-trash-o', true);
                        } else {
                            Notify('ปิดใช้งานไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                        }
                    });

        }

    });

    $("#btnsearch").click(function () {
        var SearchName = $("#SearchName").val();
        if (SearchName == "") {
            document.getElementById("demo").innerHTML = "กรุณากรอกข้อมูลค้นหา";
        } else {

            getHTML('content-body', '{{_context_path}}/api/welfare/view/welfare/lists', {SearchName: SearchName});
        }
    });
</script> 