
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">กองทุนเพื่อการเลี้ยงชีพ</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายชื่อสมาชิก</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                                <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                                <p id="demo" style="color:#d14"></p>
                        </label>

                            <div class="col-lg-3">
                                <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>
                        
                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/fund/view/cooperative/add"

                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>
                            
                            <a href="#" onclick="getBody('api/ManagementFund/fundlive/view/add')">
                                <button id="bn" name="bn" class="btn btn-primary"  type="button"> <i class="fa fa-plus"></i>เพิ่มข้อมูลจากexcel</button>
                            </a>
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}Id{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}name{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}lastmonth{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}collectored{{/i18n}}</th>
<!--                                        <th>&nbsp;{{#i18n}}manage{{/i18n}}</th>-->
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                    
                                    <tr class="selectable">
                                       
                                        <td>&nbsp;1</td>
                                        <td>&nbsp;นาย ปัญญา น้อยเปรม</td>
                                        <td>&nbsp;สิงหาคม</td>
                                         <td>&nbsp;550</td>
<!--                                        <td class="center">

                                            <a class="btn btn-maroon btn-xs " href="#" onclick="getBody('{{_context_path}}/api/ManagementFund/cooperative/add/detail')">
                                                <i class="fa fa-edit"></i>{{#i18n}}upmoney{{/i18n}}
                                            </a>
                                            <a class="btn btn-success btn-xs " href="#" onclick="getBody('{{_context_path}}/api/ManagementFund/cooperative/list/detail')">
                                                <i class="fa fa-edit"></i>{{#i18n}}detail{{/i18n}}
                                            </a>
                                            
                                        </td>-->
                                       
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>

