<!-- Page Content -->
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}addregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1> {{#i18n}}addregister{{/i18n}} </h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}academicPositionsId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">

                                        <select class="form-control" id="academicPositionsId" name="academicPositionsId" data-bv-field="country">
                                            <option value="">ระบุคำนำหน้า</option>
                                            {{#academicPositions}}
                                            <option value="{{academicPositionsId}}">{{academicPositionsName}} ({{academicPositionsNameEn}})</option>
                                            {{/academicPositions}}
                                        </select>
                                        <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> 

                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}rankId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">

                                        <select class="form-control" id="rankId" name="rankId" data-bv-field="country">
                                            <option value="">เลือกตำแหน่งทางสังคม</option>
                                            {{#rank}}
                                            <option value="{{rankId}}">{{rankNameTh}} ({{rankNameEn}})</option>
                                            {{/rank}}
                                        </select>
                                        <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> 

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerIdCard{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="registerIdCard" name="registerIdCard" placeholder="{{#i18n}}registerIdCard{{/i18n}}"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="{{#i18n}}registerIdCard{{/i18n}}" />
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}titleNameId{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <select class="form-control" id="titleNameId" name="titleNameId" data-bv-field="country">
                                            <option value="">ระบุคำนำหน้า</option>
                                            {{#titleName}}
                                            <option value="{{titleNameId}}">{{titleNameTh}} ({{titleNameEn}})</option>
                                            {{/titleName}}
                                        </select>
                                        <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="registerName" name="registerName" placeholder="{{#i18n}}registerName{{/i18n}}"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="{{#i18n}}registerName{{/i18n}}" />
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}registerLastName{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="registerLastName" name="registerLastName" placeholder="{{#i18n}}registerLastName{{/i18n}}"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="{{#i18n}}registerLastName{{/i18n}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}registerNameEn{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="registerNameEN" name="registerNameEN" placeholder="{{#i18n}}registerNameEn{{/i18n}}"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="{{#i18n}}registerNameEn{{/i18n}}" />
                                    </div>
                                </div>
                                <label class="col-lg-2 control-label">{{#i18n}}registerLastNameEn{{/i18n}}</label>
                                <div class="col-lg-4">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="registerLastNameEN" name="registerLastNameEN" placeholder="{{#i18n}}registerLastNameEn{{/i18n}}"
                                               data-bv-notempty="true"
                                               data-bv-notempty-message="{{#i18n}}registerLastNameEn{{/i18n}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div class="form-horizontal">
                            <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>
                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerStaffCode{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="registerStaffCode" name="registerStaffCode" placeholder="{{#i18n}}registerStaffCode{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message=" {{#i18n}}registerStaffCode{{/i18n}}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}positionsTypeId{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="positionsTypeId" name="positionsTypeId" data-bv-field="country">
                                        <option value="">ระบุประเภทพนักงาน</option>
                                        {{#positionsType}}
                                        <option value="{{positionsTypeId}}">{{positionsTypeNameTh}} ({{positionsTypeNameEn}})</option>
                                        {{/positionsType}}
                                    </select>
                                    <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}positionsWorkId{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="positionsWorkId" name="positionsWorkId" data-bv-field="country">
                                        <option value="">ระบุตำแหน่งงาน</option>
                                        {{#positionsWork}}
                                        <option value="{{positionsWorkId}}">{{positionsWorkNameTh}} ({{positionsWorkNameEn}})</option>
                                        {{/positionsWork}}
                                    </select>
                                    <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}facultyId{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="facultyId" name="facultyId" data-bv-field="country">
                                        <option value="">ระบุคำนำหน้า</option>
                                        {{#faculty}}
                                        <option value="{{facultyId}}">{{facultyNameTh}} ({{facultyNameEn}})</option>
                                        {{/faculty}}
                                    </select>
                                    <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}departmentId{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="departmentId" name="departmentId" data-bv-field="country">
                                        <option value="">เลือกภาควิชา</option>
                                        {{#department}}
                                        <option value="{{departmentId}}">{{departmentNameTh}} ({{departmentNameEn}})</option>
                                        {{/department}}
                                    </select>
                                    <i class="form-control-feedback" data-bv-field="country" style="display: none;"></i> </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}linePosition{{/i18n}}</label>
                                <div class="col-lg-9 control-group ">
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="form-field-radio" id="statusOperation" type="radio"  checked="checked">
                                            <span class="text">{{#i18n}}academicSupport{{/i18n}} </span> </label>
                                    </div>
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="form-field-radio" id="statusOperation" type="radio" class="inverted">
                                            <span class="text">{{#i18n}}academics{{/i18n}}</span> </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerSalaryAdded{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="registerSalaryAdded" name="registerSalaryAdded" placeholder="{{#i18n}}registerSalaryAdded{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerSalaryAdded{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerSalaryNow{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="registerSalaryNow" name="registerSalaryNow" placeholder="{{#i18n}}registerSalaryNow{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerSalaryNow{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reservation" class="col-lg-3">{{#i18n}}registerDateOfBirth{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group"> <span class="input-group-addon"> 
                                            <i class="fa fa-calendar"></i> </span>
                                        <input type="text" class="form-control" id="registerDateOfBirth" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reservation" class="col-lg-3">{{#i18n}}registerDateAdded{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group"> <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                        <input type="text" id="registerDateAdded" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}addData{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-title"> {{#i18n}}addData{{/i18n}} </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}statusLife{{/i18n}}</label>
                                <div class="col-lg-9 control-group ">
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="form-field-radio" type="radio" id="statusLife" checked="checked">
                                            <span class="text">{{#i18n}}Life{{/i18n}} </span> </label>
                                    </div>
                                    <div class="radio col-lg-6">
                                        <label>
                                            <input name="form-field-radio" type="radio" id="statusLife" class="inverted">
                                            <span class="text">{{#i18n}}dead{{/i18n}} </span> </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerBankNumber{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerBankNumber" id="registerBankNumber" placeholder="{{#i18n}}registerBankNumber{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerBankNumber{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerBankName{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerBankName" id="registerBankName" placeholder="{{#i18n}}registerBankName{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerBankName{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerBankAccount{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="" id="registerBankAccount" placeholder="{{#i18n}}registerBankAccount{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerBankAccount{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerBankSk{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerBankSk" id="registerBankSk" placeholder="{{#i18n}}registerBankSk{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerBankSk{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerAddress{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerAddress" id="registerAddress" placeholder="{{#i18n}}registerAddress{{/i18n}}"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerAddress{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerContactPhone{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerContactPhone" id="registerContactPhone" placeholder="0819999999"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerContactPhone{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerOfficePhone{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerOfficePhone" id="registerOfficePhone" placeholder="0819999999"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerOfficePhone{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}registerMobile{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="registerMobile" id="registerMobile" placeholder="0819999999"
                                           data-bv-notempty="true"
                                           data-bv-notempty-message="{{#i18n}}registerMobile{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3 control-label">{{#i18n}}registerIdCardFile{{/i18n}}</label>
                                <div class="col-sm-9">
                                    <div class="row fileupload-buttonbar">
                                        <div class="col-sm-12">
                                            <input type="file" class="form-control" id="registerIdCardFile" name="files[]" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3 control-label">{{#i18n}}registerAddressFile{{/i18n}}</label>
                                <div class="col-sm-9">
                                    <div class="row fileupload-buttonbar">
                                        <div class="col-sm-12">
                                            <input type="file" class="form-control" id="registerAddressFile"  name="files[]" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-6 col-lg-8">

                                    <button id="btn_submit" name="bn" class="btn btn-primary" type="button"> {{#i18n}}button.submit{{/i18n}}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body --> 
</div>
<!-- /Page Content -->
<script type="text/javascript">

    $(document).ready(function () {

        $("#btn_submit").click(function () {
            var data = {};
                data['titleNameId'] = $("#titleNameId").val();
                data['academicPositionsId'] = $("#academicPositionsId").val();
                data['rankId'] = $("#rankId").val();
                data['registerName'] = $("#registerLastName").val();
                data['registerNameEN'] = $("#registerNameEN").val();
                data['registerLastNameEN'] = $("#registerLastNameEN").val();
                
                data['registerIdCard'] = $("#registerIdCard").val();
                data['facultyId'] = $("#facultyId").val();
                data['registerPhone'] = $("#registerPhone").val();
                data['registerEmail'] = $("#registerEmail").val();
                data['departmentId'] = $("#departmentId").val();
                data['staffTypeId'] = $("#staffTypeId").val();
                
                data['registerStaffCode'] = $("#registerStaffCode").val();
                data['registerPositionId'] = $("#registerPositionId").val();
                data['registerSalaryAdded'] = $("#registerSalaryAdded").val();
                data['registerSalaryNow'] = $("#registerSalaryNow").val();
                data['registerDateAdded'] = $("#registerDateAdded").val();
                data['registerDateOfBirth'] = $("#registerDateOfBirth").val();
                
                data['statusOperation'] = $("#statusOperation").val();
                data['statusLife'] = $("#statusLife").val();
                data['registerAddress'] = $("#registerAddress").val();
                data['registerMobile'] = $("#registerMobile").val();
                data['registerOfficePhone'] = $("#registerOfficePhone").val();
                data['registerContactPhone'] = $("#registerContactPhone").val();
                
                data['registerBankName'] = $("#registerBankName").val();
                data['registerBankAccount'] = $("#registerBankAccount").val();
                data['registerBankSk'] = $("#registerBankSk").val();
                data['registerBankNumber'] = $("#registerBankNumber").val();
                data['registerIdCardFile'] = $("#registerIdCardFile").val();
                data['registerAddressFile'] = $("#registerAddressFile").val();


            var jdata = {};
            jdata['data'] = data;

//                alert(typeNameEn);
            $.ajax({
                url: '/{{_context_path}}/api/ManagementTypeMember/user/register/save',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    //alert(result.save);
                    //alert(result.message);
                    getBody('api/ManagementTypeMember/user/register/view/list');
                }
            });
        });
    });
</script>