<!-- Page Content -->

<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}listAcademic{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}academicEdit{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header Type-relative">
        <div class="header-title">
            <h1> {{#i18n}}academicEdit{{/i18n}} </h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}academicList{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-title"> {{#i18n}}academicEdit{{/i18n}} </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}academicTypeTh{{/i18n}}</label>
                                <div class="col-lg-9">
                                    {{#datas}}
                                    <input type="text" class="form-control" name="academicTypeTh" id="academicTypeTh" placeholder="{{#i18n}}academicTypeTh{{/i18n}}"
                                           data-bv-notempty="true"
                                           value="{{academicTypeTh}}"
                                           data-bv-notempty-message="{{#i18n}}academicTypeTh{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}academicTypeEn{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="academicTypeEn" id="academicTypeEn" placeholder="{{#i18n}}academicTypeEn{{/i18n}}"
                                           data-bv-notempty="true"
                                           value="{{academicTypeEn}}"

                                           data-bv-notempty-message="{{#i18n}}academicTypeEn{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}abbreviationTh{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="abbreviationTh"
                                           placeholder="{{#i18n}}abbreviationTh{{/i18n}}"
                                           data-bv-notempty="true"
                                           value="{{abbreviationTh}}"

                                           data-bv-notempty-message="{{#i18n}}abbreviationTh{{/i18n}}"
                                           id="abbreviationTh"
                                           />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}abbreviationEn{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="abbreviationEn" id="abbreviationEn"
                                           placeholder="{{#i18n}}abbreviationEn{{/i18n}}"
                                           value="{{abbreviationEn}}"
                                           data-bv-notempty="true" id="abbreviationEn"
                                           data-bv-notempty-message="{{#i18n}}abbreviationEn{{/i18n}}" />
                                </div>
                            </div>

                            {{/datas}}

                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" id="btn_submit" class="btn btn-primary"> บันทึกข้อมูล </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body --> 
</div>
<!-- /Page Content --> 
<script type="text/javascript">

    $(document).ready(function () {

    $("#btn_submit").click(function () {
    var data = {};
            data['academicTypeId'] = {{#datas}}{{academicTypeId}}{{/datas}};
            data['academicTypeTh'] = $("#academicTypeTh").val();
            data['academicTypeEn'] = $("#academicTypeEn").val();
            data['abbreviationTh'] = $("#abbreviationTh").val();
            data['abbreviationEn'] = $("#abbreviationEn").val();
            var jdata = {};
            jdata['data'] = data;
            var result = sendData('{{_context_path}}/api/basics/academic/update', jsonEncode(jdata));
            
                if (result.update == true) {
                getHTML('content-body', '{{_context_path}}/api/basics/view/academic/lists',null);
                Notify('แก้ไขข้อมูลสำเร็จ', 'top-right', '4000', 'blue', 'fa fa-edit', true);
                } else{
                Notify('แก้ไขข้อมูลไม่สำเร็จ !', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                }
    });
    });
</script>