<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li>

                <a href="#">News</a>
            </li>
            <li class="active">{{#datasNews}}{{newsName}}{{/datasNews}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#datasNews}}{{newsName}}{{/datasNews}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body" style="background: #FFF">

                        
                        {{#datasNews}}
                        <h3>{{newsName}}</h3>
                        <div class="flip-scroll" id="test">
                            {{{newsDetails}}}
                        </div>
                        {{/datasNews}}
                        <div class="mail-attachments">
                            <h4>
                                <span> </span>
                            </h4>


                            
                            <hr>
                            <div class="links">
                                {{#datasMultiFile}}
                                <a  href="http://localhost/{{_context_path}}/uploads/news/file/{{multiFileName}}" target="_blank" class="btn btn-default"><i class="fa fa-paperclip"></i>ตรวจสอบเอกสาร PDF ชุดที่ {{rowsNo}} </a>
                                {{/datasMultiFile}}
                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    $(document).ready(function (){
        
          var data = {};
            data['nftId'] = "{{nftId}}";
            data['nftAppId'] = "{{newsId}}";
            data['nftStatus'] = "true";
            data['memberId'] = "{{memberId}}";
            var jdata = {};
            jdata['ntf'] = data;
            $.ajax({
                url: '{{_context_path}}/api/news/manage/nft/update',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    
                }
           });
    });
    
</script>