<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <!--Dashboard-->

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-smile-o"></i>

                <span class="menu-text">
                    จัดการข้อมูลสวัสดิการ
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/welfare/view/admin/welfare/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">รายการข้อมูลสวัสดิการ</span>
                    </a>
                </li>


                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/welfare/view/admin/member/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">สวัสดิการรายบุคคล</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/welfare/view/admin/approve/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">รายการขอรับสวัสดิการ</span>
                    </a>
                </li>



                       
                
                <!-- <li>
                     <a href="#" onclick="btnHTML('content-body','api/ManagementWelfare/welfareCut/list',null)">
                         <span class="menu-text">สวัสดิการรายบุคคล</span>
                     </a>
                 </li>-->




            </ul>
        </li>

        <li>
            <!--            <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-users"></i>
            
                            <span class="menu-text">
                                จัดการข้อมูลสมาชิก
                            </span>
            
                            <i class="menu-expand"></i>
                        </a>-->
            <a href="#" 
               data-id="content-body"
               data-api="{{_context_path}}/api/member/view/member/lists"

               onclick="btnHTML(this)">
                <i class="menu-icon fa fa-users"></i><span class="menu-text">จัดการข้อมูลสมาชิก</span>
            </a>

            <!--            <ul class="submenu">
                            <li>
                                <a href="#" 
                                   data-id="content-body"
                                   data-api="{{_context_path}}/api/member/view/member/lists"
            
                                   onclick="btnHTML(this)">
                                    <span class="menu-text">รายการข้อมูลสมาชิก</span>
                                </a>
                            </li>
            
                                            <li>
                                                <a href="#" 
                                                   data-id="content-body"
                                                   data-api="{{_context_path}}/api/ManagementMember/member/management/listmanagemember"
                            
                                                   onclick="btnHTML(this)">
                                                    <span class="menu-text">รายงานรายชื่อสมาชิก</span>
                                                </a>
                                            </li>
            
            
            
            
                        </ul>-->
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>

                <span class="menu-text">
                    จัดการข้อมูลผู้ใช้งาน
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/user/view/member/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">รายการข้อมูลผู้ใช้งาน</span>
                    </a>
                </li>
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/user/view/Permission/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">จัดการสิทธิ์</span>
                    </a>
                </li>



            </ul>
        </li>

        <!--        <li>
                    <a href="#" class="menu-dropdown">
                        <i class="menu-icon glyphicon glyphicon-link"></i>
        
                        <span class="menu-text">
                            จัดการข้อมูลพื้นฐาน
                        </span>
        
                        <i class="menu-expand"></i>
                    </a>
        
                    <ul class="submenu">
                        <li>
                            <a href="#" 
                               data-id="content-body"
                               data-api="{{_context_path}}/api/basics/view/faculty/lists"
                               
                               onclick="btnHTML(this)">
                                <span class="menu-text">รายการข้อมูลคณะ</span>
                            </a>
                        </li>
        
        
                        <li>
                            <a href="#" 
                               data-id="content-body"
                               data-api="{{_context_path}}/api/basics/view/academic/lists"
                               
                               onclick="btnHTML(this)">
                                <span class="menu-text">ข้อมูลตำแน่งทางวิชาการ</span>
                            </a>
                        </li>
        
                        <li>
                            <a href="#" 
                               data-id="content-body"
                               data-api="{{_context_path}}/api/basics/view/staff/lists"
                               
                               onclick="btnHTML(this)">
                                <span class="menu-text">จัดการข้อมูลประเภทพนักงาน</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" 
                               data-id="content-body"
                               data-api="{{_context_path}}/api/basics/view/positions/lists"
                               
                               onclick="btnHTML(this)">
                                <span class="menu-text">จัดการข้อมูลตำแหน่งงาน</span>
                            </a>
                        </li>
        
        
        
                    </ul>
                </li>-->

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-medkit"></i>

                <span class="menu-text">
                    จัดการข้อมูลรักษาพยาบาล
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/medical/view/medicalFee/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">การเบิกค่ารักษาพยาบาล</span>
                    </a>
                </li>

                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api=""

                       onclick="btnHTML(this)"
                       >
                        <span class="menu-text">สรุปการเบิกค่ารักษาพยาบาล</span>
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-heartbeat"></i>

                <span class="menu-text">
                    ประกันสังคม & ประกันกลุ่ม
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <!--                <li>
                                    <a href="#" 
                                       data-id="content-body"
                                       data-api="{{_context_path}}/api/insurance/view/privilege/list"
                
                                       onclick="btnHTML(this)">
                                        <span class="menu-text">ผู้รับผลประโยชน์</span>
                                    </a>
                                </li>-->
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/insurance/view/sso/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">ประกันสังคม</span>
                    </a>
                </li>
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/insurance/view/life/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">ประกันสุขภาพกลุ่ม&อุบัติเหตุ</span>
                    </a>
                </li>



                <!--<li>
                        <a href="#" onclick="btnHTML('content-body','api/ManagementInsurance/reportmoney/list',null)">
                        <span class="menu-text">รายงานสรุปยอดเงินและรายชื่อ</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="btnHTML('content-body','api/ManagementInsurance/report/amount/member/list',null)">
                        <span class="menu-text">รายงานสรุปจำนวนและรายชื่อ</span>
                    </a>
                </li>-->




            </ul>
        </li>






        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-usd"></i>

                <span class="menu-text">
                    จัดการข้อมูลกองทุน
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/fund/view/policy/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">นโยบายฯ</span>
                    </a>
                </li>
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/fund/view/employee/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">พนักงานมหาวิทยาลัย</span>
                    </a>
                </li>
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/fund/view/extra/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">พนักงานราชการ,พิเศษ</span>
                    </a>
                </li>
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/fund/view/retire/admin/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">พนักงานจ้างหลังเกษียณ</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>  

        <li>    

            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>

                <span class="menu-text">
                    จัดการข้อมูลผู้เกษียนอายุ
                </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#" 
                       data-id="content-body"
                       data-api="{{_context_path}}/api/retire/view/retire/lists"

                       onclick="btnHTML(this)">
                        <span class="menu-text">รายการข้อมูลผู้เกษียนอายุ</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" 
               data-id="content-body"
               data-api="{{_context_path}}/api/news/view/news/lists"
               onclick="btnHTML(this)">
                <i class="menu-icon fa fa-newspaper-o"></i>

                <span class="menu-text">
                    ข้อมูลข่าวสาร
                </span>

            </a>
        </li>

        <li>
            <a href="#" 
               data-id="content-body"
               data-api="{{_context_path}}/api/qa/view/questions/lists"
               onclick="btnHTML(this)">
                <i class="menu-icon fa fa-comments-o"></i>

                <span class="menu-text">
                    ถาม-ตอบ
                </span>

            </a>

        <li>



        <li>
            <a href="#" 
               data-id="content-body"
               data-api="{{_context_path}}/api/taxonomy/view/lists"

               onclick="btnHTML(this)">
                <i class="menu-icon fa fa-wrench"></i> <span class="menu-text">จัดการข้อมูลพื้นฐาน</span>
            </a>
        </li>

    </ul>
    <!-- /Sidebar Menu -->


</div>
<!-- /Page Sidebar -->

