<script>
  $(function() {
    var availableTags = [
        {{#member}}
            "{{registerNameTh}}",      
        {{/member}}
    ];
    $( "#SearchName" ).autocomplete({
      source: availableTags
    });
  });
  </script>
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}fundlive{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                
            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}fundlive{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                                <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                                <p id="demo" style="color:#d14"></p>
                        </label>

                            <div class="col-lg-3">
                                <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>
                        
                        <div class="pull-right">
                            <a href="#" onclick="getBody('api/ManagementFund/fundretire/view/add')">
                                <button id="bn" name="bn" class="btn btn-primary"  type="button"> <i class="fa fa-plus"></i>เพิ่มข้อมูลใหม่</button>
                            </a>
                            
                            <a href="#" onclick="getBody('api/ManagementFund/fundretire/view/add')">
                                <button id="bn" name="bn" class="btn btn-primary"  type="button"> <i class="fa fa-plus"></i>เพิ่มข้อมูลจากexcel</button>
                            </a>
                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}Id{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}name{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}lastmonth{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}collectored{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}manage{{/i18n}}</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                 
                                    
                                    <tr class="selectable">
                                       
                                        <td>&nbsp;1</td>
                                        <td>&nbsp;นาย ปาริตต์ เอกากูล</td>
                                        <td>&nbsp;สิงหาคม</td>
                                         <td>&nbsp;3500</td>
                                        <td class="center">

                                            <a class="btn btn-maroon btn-xs " href="#" onclick="getBody('{{_context_path}}/api/ManagementFund/fundretire/add/detail')">
                                                <i class="fa fa-edit"></i>{{#i18n}}upmoney{{/i18n}}
                                            </a>
                                            <a class="btn btn-success btn-xs " href="#" onclick="getBody('{{_context_path}}/api/ManagementFund/fundretire/list/detail')">
                                                <i class="fa fa-edit"></i>{{#i18n}}detail{{/i18n}}
                                            </a>
                                            
                                        </td>
                                       
                                    </tr>
                                    
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>

 <script>
    $("#btnsearch").click(function () {
        var SearchName = $("#SearchName").val();
        if(SearchName==""){
            document.getElementById("demo").innerHTML = "กรุณากรอกข้อมูลค้นหา";
        }else{
        
        var data = {"SearchName":SearchName};
//       
        
        getBodyDiv('{{_context_path}}/api/ManagementInsurance/privilege/view/search',data);
        }
    });
    
 </script>