
<div class="page-content"> 
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">{{#i18n}}menu.insurance{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb --> 
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>{{#i18n}}sso.title{{/i18n}}</h1>
        </div>
        <!--Header Buttons--> 

        <!--Header Buttons End--> 
    </div>
    <!-- /Page Header --> 
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget radius-bordered">
                    <div class="widget-header"> <span class="widget-caption">{{#i18n}}sso.add{{/i18n}}</span> </div>
                    <div class="widget-body">
                        <div  class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.idCard{{/i18n}}</label>
                                <div class="col-lg-8">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="idCard" name="idCard" />
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button id="btn_search" class="btn btn-primary"> 
                                        <i class="fa fa-search"></i>{{#i18n}}button.search{{/i18n}}
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.fname{{/i18n}}-{{#i18n}}sso.lname{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="fullname" name="fullname" disabled="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.hospital{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="hospital" name="hospital" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.optional{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="optional" name="optional" value="{{optional}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.pCode{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" disabled id="pCode" name="pCode" value="{{pCode}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">{{#i18n}}sso.code{{/i18n}}</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="code" name="code" value="{{code}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-6 col-lg-8">

                                    <button id="btn_submit" class="btn btn-primary"> {{#i18n}}button.submit{{/i18n}}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btn_search").click(function(){
            var idCard = $("#idCard").val();
            $.ajax({
                url:'{{_context_path}}/api/member/member/find',
                data:{field:"idCard",value:idCard},
                async:false,
                type:'post',
                success:function(result){
                   if(result.find!=""){
                       $.each(result.find,function(key,value){
                           $("#fullname").val(value.fname+" "+value.lname);
                       });
                   }else{
                        $("#fullname").val("ไม่พบข้อมูล");
                   }
                }
            });
        });
    });
</script>