<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">ข่าวสาร ประชาสัมพันธ์</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-themesecondary">
                        <i class="widget-icon fa fa-tags themesecondary"></i>
                        <span class="widget-caption themesecondary">รายการ ข่าวสาร ประชาสัมพันธ์</span>
                    </div><!--Widget Header-->
                    <div class="widget-body  no-padding " style="background: #fff">
                        <div class="tickets-container" style="background: #fff">

                                
                                <ul class="timeline-v2">
                                    {{#datasNews}}
                                    <li class="equal-height-columns">
                                        <div class="cbp_tmtime equal-height-column" style="height: 131px;"><span>{{dateCreated}}</span> </div>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel equal-height-column" style="height: 161px;">
                                            <h2 style="color: #001960">{{newsName}}</h2>
                                            <p style="color: #001960">
                                                {{newsDetails}}
                                           
                                                <a class="btn btn-success btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/news/user/view/news/read"
                                                    data-object="newsId"
                                                    data-param="{{newsId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-eye"></i>อ่านเพิ่มเติม
                                            </a>
                                            </p>
                                        </div>
                                    </li>
                                    {{/datasNews}}

                                </ul>
                             


                           
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </div>
</div>


