<div class="page-content">

    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li> <i class="fa fa-home"></i> <a href="#">{{#i18n}}home{{/i18n}}</a> </li>
            <li class="active">
                <a href="#"
                   data-id="content-body"
                   data-api="{{_context_path}}/api/member/view/member/lists"
                   onclick="btnHTML(this)">รายชื่อสมาชิก
                </a>
            </li>

            <li class="active">ประวัติการแก้ไข</li>
        </ul>
    </div>

    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>

    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header"> <span class="widget-caption">ประวัติการแก้ไข :{{#member}}{{titles1}} {{fname}} {{lname}}{{/member}}</span> </div>
                    <div class="widget-body">
                        <ul class="nav nav-tabs">

                            <li class="active">
                                <a id="user" href="#home">
                                    <i class="fa fa-folder-open-o"></i> {{#i18n}}button.history{{/i18n}}
                                </a>
                            </li>
                            <li><a id="user" href="#menu1" role="tab" data-toggle="tab">
                                    <i class="fa fa-user"></i>{{#i18n}}button.user{{/i18n}}
                                </a>
                            </li>
                            <li>
                                <a id="contact" href="#menu2"  role="tab" data-toggle="tab">
                                    <i class="fa fa-phone"></i> {{#i18n}}button.contact{{/i18n}}
                                </a>
                            </li>
                            <li>
                                <a id="work" href="#menu3" role="tab" data-toggle="tab">
                                    <i class="fa fa-briefcase"></i>{{#i18n}}button.work{{/i18n}}
                                </a>
                            </li>
                            <li>
                                <a id="salary" href="#menu4" role="tab" data-toggle="tab">
                                    <i class="fa fa-money"></i>{{#i18n}}button.salary{{/i18n}}
                                </a>
                            </li>
                            <li>
                                <a id="ref" href="#menu5" role="tab" data-toggle="tab">
                                    <i class="fa fa-book"></i>{{#i18n}}button.ref{{/i18n}}
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <table  class="table table-hover table-striped table-bordered table-condensed " >
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="history">
                                        {{#lists}}  
                                        <tr>
                                            <td>{{valueOld}}</td>
                                            <td>{{valueNew}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/lists}}
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <table id="user" class="table table-hover table-striped table-bordered table-condensed  ">
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyYes">
                                        {{#memhis}}  
                                        <tr>
                                            <td>{{valueOld}}</td>
                                            <td>{{valueNew}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/memhis}}
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <table id="contact" class="table table-hover table-striped table-bordered table-condensed ">
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyYes">
                                        {{#contact}}  
                                        <tr>
                                            <td>{{valueOld}}</td>
                                            <td>{{valueNew}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/contact}}
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <table id="work" class="table table-hover table-striped table-bordered table-condensed ">
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyYes">
                                        {{#work}}  
                                        <tr>
                                            <td>{{older}}</td>
                                            <td>{{newdata}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/work}}
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                <table id="salary" class="table table-hover table-striped table-bordered table-condensed ">
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyYes">
                                        {{#salary}}  
                                        <tr>
                                            <td>{{valueOld}}</td>
                                            <td>{{valueNew}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/salary}}
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu5" class="tab-pane fade">
                                <table id="salary" class="table table-hover table-striped table-bordered table-condensed ">
                                    <thead>
                                        <tr>
                                            <th class="center">{{#i18n}}filename{{/i18n}}</th>
                                            <th class="center">{{#i18n}}remark{{/i18n}}</th>
                                            <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyYes">
                                        {{#ref}}  
                                        <tr>
                                            <td><a href="{{_context_path}}/uploads/member/{{#member}}{{memberId}}{{/member}}/{{filename}}" TARGET="_blank">{{filename}}</a></td>
                                            <td>{{remark}}</td>
                                            <td>{{dateCreated}}</td>

                                        </tr>
                                        {{/ref}}
                                    </tbody>
                            </div>
                        </div>
                        <!--                        <ul class="nav nav-tabs" role="tablist">
                                                    <li class="active">
                                                        <a href="#" role="tab" data-toggle="tab"
                                                           data-id="content-body"
                                                           data-api="{{_context_path}}/api/member/view/member/history/{{#member}}{{memberId}}{{/member}}"
                                                           onclick="btnHTML(this)">
                                                            <i class="fa fa-folder-open-o"></i> {{#i18n}}button.history{{/i18n}}
                                                        </a>
                                                    </li>
                                                    
                                                    <li>
                                                        <a id="user" href="#user" role="tab" data-toggle="tab">
                                                            <i class="fa fa-user"></i>{{#i18n}}button.user{{/i18n}}
                                                        </a>
                                                    </li>
                                                    
                                                    <li>
                                                        <a id="contact" href="#contact"  role="tab" data-toggle="tab">
                                                            <i class="fa fa-phone"></i> {{#i18n}}button.contact{{/i18n}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="work" href="#work" role="tab" data-toggle="tab">
                                                            <i class="fa fa-briefcase"></i>{{#i18n}}button.work{{/i18n}}
                                                        </a>
                                                    </li>
                        
                                                    <li>
                                                        <a id="salary" href="#salary" role="tab" data-toggle="tab">
                                                            <i class="fa fa-money"></i>{{#i18n}}button.salary{{/i18n}}
                                                        </a>
                                                    </li>
                        
                                                    <li>
                                                        <a id="btnNo" href="#ref" role="tab" data-toggle="tab">
                                                            <i class="fa fa-book"></i>{{#i18n}}button.ref{{/i18n}}
                                                        </a>
                                                    </li>
                                                </ul>-->

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <!--                        <div class="rows tab-pane fade in active " id="history">
                                                    <table  class="table table-hover table-striped table-bordered table-condensed " >
                                                        <thead>
                                                            <tr>
                                                                <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>
                        
                                                            </tr>
                                                        </thead>
                                                        <tbody id="history">
                                                            {{#lists}}  
                                                            <tr>
                                                                <td>{{valueOld}}</td>
                                                                <td>{{valueNew}}</td>
                                                                <td>{{dateCreated}}</td>
                        
                                                            </tr>
                                                            {{/lists}}
                                                        </tbody>
                                                    </table>
                                                </div>-->

                        <!--                        <div class="rows tab-pane fade"  id="user">
                                                    <table id="user" class="table table-hover table-striped table-bordered table-condensed  ">
                                                        <thead>
                                                            <tr>
                                                                <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>
                        
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyYes">
                                                            {{#lists}}  
                                                            <tr>
                                                                <td>22222222222222</td>
                                                                <td>{{valueNew}}</td>
                                                                <td>{{dateCreated}}</td>
                        
                                                            </tr>
                                                            {{/lists}}
                                                        </tbody>
                                                    </table>
                                                </div>-->

                        <!--                        <div class="rows tab-pane fade " id="contact">
                                                    <table id="contact" class="table table-hover table-striped table-bordered table-condensed ">
                                                        <thead>
                                                            <tr>
                                                                <th class="center">{{#i18n}}olddata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}newdata{{/i18n}}</th>
                                                                <th class="center">{{#i18n}}dayupdate{{/i18n}}</th>
                        
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbodyYes">
                                                            {{#lists}}  
                                                            <tr>
                                                                <td>{{valueOld}}</td>
                                                                <td>{{valueNew}}</td>
                                                                <td>{{dateCreated}}</td>
                        
                                                            </tr>
                                                            {{/lists}}
                                                        </tbody>
                                                    </table>
                                                </div>-->


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>

