<div class="page-content">

    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">รายชื่อสมาชิก</li>
        </ul>
    </div>

    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>

    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายชื่อสมาชิก</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="pull-right">
                            <label class="col-lg-12  control-label">
                                <!--<div class="pull-right">-->
                                <button type="button" class="btn btn-success"
                                        id="reportCsv"
                                        data-whatever="">
                                    <i class="fa fa-file-excel-o"></i>{{#i18n}}button.export{{/i18n}} CSV
                                </button>

                                <button type="button" class="btn btn-maroon" 
                                        data-toggle="modal" 
                                        data-target="#uploadModal" 
                                        data-whatever="@fat">
                                    <i class="glyphicon glyphicon-upload"></i>{{#i18n}}button.upload{{/i18n}} CSV
                                </button>

                                <button type="button" class="btn btn-yellow">
                                    <a href= "{{_context_path}}/apps/member/excel/member.xlsx">
                                        <i class="fa fa-file-excel-o"></i>{{#i18n}}button.download{{/i18n}}ฟอร์ม CSV
                                    </a>
                                </button>

                                <button class="btn btn-primary"
                                        data-id="content-body"
                                        data-api="{{_context_path}}/api/member/view/member/add"

                                        onclick="btnHTML(this)">
                                    <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                                </button>
                            </label>
                            <!--</div>-->
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <label class="col-lg-2 control-label">
                                <select id="filterfaculty" class="form-control">
                                    <option value="" selected="" disabled="">เลือกคณะ</option>
                                    {{#faculty}}
                                    <option value="{{id}}">{{value1}}</option>
                                    {{/faculty}}


                                    <!-- … -->
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filterdepartment" class="form-control">
                                    <option value="" selected="" disabled="">เลือก</option>
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filtermemberActive" class="form-control">
                                    <option value="" selected="" disabled="">เลือกสถานะพนักงาน</option>
                                    {{#memberActive}}
                                    <option value="{{id}}">{{value1}}</option>
                                    {{/memberActive}}


                                    <!-- … -->
                                </select>
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" list="filterCode">-->
                                <!--<input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >-->  
                                <p id="demo" style="color:#d14"></p>
                            </label>
                            <label class="col-lg-2 control-label">
                                <select id="filteremployeeType" class="form-control">
                                    <option value="" selected="" disabled="">เลือกประเภทพนักงาน</option>
                                    {{#employeeType}}
                                    <option value="{{id}}">{{value1}}</option>
                                    {{/employeeType}}
                                </select>

                            </label>
                            <label class="col-lg-3 control-label">
                                <!--                                <select id="filterdepartment" class="form-control">
                                                                    <option value="" selected="" disabled="">เลือก</option>
                                                                </select>-->
                                <input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" value="{{searchvalue}}">
                                <p id="demo" style="color:#d14"></p>
                            </label>


                            <div class="col-lg-2">
                                <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                            </div>
                        </div>


                        <!--<hr style="border-top: 1px solid rgba(229, 229, 229, 0);">-->
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}IdCard{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}registerName{{/i18n}} - {{#i18n}}registerLastName{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}facultyId{{/i18n}}</th>

                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody id="title">
                                    {{#lists}}
                                    <tr class="selectable" >

                                        <td>{{idCard}}</td>
                                        <td><div id="title"></div>{{titles1}} {{fname}}      {{lname}}</td>
                                        <td>{{department1}} ( {{faculty1}} )</td>

                                        <td class="center">
                                            <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/member/view/member/edit/{{memberId}}"

                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>
                                            <button class="btn btn-xs btn-success"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/member/view/member/history/{{memberId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>ประวัติการแก้ไข</button> 

                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{memberId}}" >ลาออก</button> 
                                        </td>
                                    </tr>
                                    {{/lists}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">อัพโหลดไฟล์พนักงานมหาวิทยาลัย</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">ไฟล์ .csv</label>
                    <form enctype="multipart/form-data" method="post" class="dropzone dz-square" id="frm_upload">
                        <div class="dz-default dz-message"><span>คลิก/ลากวางไฟล์ .csv เพื่ออัพโหลด</span></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#i18n}}button.close{{/i18n}}</button>
                <button type="button" class="btn btn-primary" id="btn_upload">{{#i18n}}button.upload{{/i18n}}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#reportCsv").click(function () {
            window.open('{{_context_path}}/api/member/reports/lists');

        });

        $("#filterfaculty").change(function () {
            getSearch();
        });
        $("#filterdepartment").change(function () {
            getSearch();
        });
        $("#filtermemberActive").change(function () {
            getSearch();
        });
        $("#searchName").change(function () {
            getSearch();
        });
        $("#filteremployeeType").change(function () {
            getSearch();
        });

//        $("#filtervalue").hide();
        //titleName();
        //listtitleName();
        $("#filterCode").change(function () {
            var pCode = $("#filterCode").val();

            var data;
//            if (pCode == "faculty") {
//
//                data = getCode(pCode);
//                $("#filterdepartment").show();
//                $("#searchName").hide();
//            } else if (pCode != "name") {
//                data = getPCode(pCode);
//                $("#filterdepartment").hide();
//                $("#searchName").show();
//            }

            var html;
            if ($("#filterCode").val() == "name") {

                $("#searchName").show();
//                $("#filtervalue").hide();
            } else {
                if (data == "") {
                    html = '<option value="">โปรดเลือก</option>';

                } else {
                    $.each(data, function (key, value) {
                        html += "<option value='" + value.id + "'>" + value.value1 + "</option>";

                    });
                }
//                $("#searchName").hide();

                $("#filtervalue").html(html);
            }
//            $("filtervalue").change(function () {
//                if($("filtervalue").val()== ""){
//                    filterdepartment
//                }
//
//            });


        });
        $("#filterfaculty").change(function () {

            var id = $("#filterfaculty").val();


            $.ajax({
                url: '{{_context_path}}/api/taxonomy/taxonomy/getParentId',
                data: {parentId: id},
                success: function (result) {
                    var data = result["lists"];
                    var html;
                    if (data == "") {
                        html = '<option value="">สังกัด</option>';
                    } else {
                        $.each(data, function (key, value) {

                            html += "<option value='" + value.id + "'>" + value.value1 + "</option>";
                        });
                    }
                    $("#filterdepartment").show();
                    $("#filterdepartment").html("<option value='' selected='' disabled=''>เลือก</option>" + html);


                }
            });
        });


        $('.btn-del').click(function () {
            var id = $(this).attr('row-index');

            if (confirm("คุณต้องการจำหน่ายบุคคลดังกล่าวใช่หรือไม่?")) {
                var data = {"memberId": id};
                sendData('{{_context_path}}/api/member/member/delete', data,
                        function (msg) {
                            if (msg.delete == true) {

                                getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', null);
                                Notify('การจำหน่ายเสร็จสิ้น!', 'top-right', '4000', 'danger', 'fa fa-trash-o', true);
                            } else {
                                Notify('การจำหน่ายไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                            }
                        });


            }

        });

        function getSearch() {

            var faculty = $("#filterfaculty").val();
            var filterdepartment = $("#filterdepartment").val();
            var filtermemberActive = $("#filtermemberActive").val();
            var searchName = $("#searchName").val();
            var filteremployeeType = $("#filteremployeeType").val();
            var data = {};

            data['faculty'] = faculty;
            data['filterdepartment'] = filterdepartment;
            data['filtermemberActive'] = filtermemberActive;
            data['searchName'] = $("#searchName").val();
            data['searchName'] = searchName;
            data['filteremployeeType'] = filteremployeeType;
            var jdata = {};
            jdata['data'] = data;
            sendData('{{_context_path}}/api/member/member/search', jsonEncode(jdata),
                    //sendData('{{_context_path}}/api/welfare/history/check/search', jsonEncode(jdata),
                            function (result) {

                                var html;
//                                $.each(result.history, function (key, value) {
                                var data = result["search"];
                                if (data != "") {
                                    $.each(data, function (key, value) {
                                        html += "<tr class='selectable'><td>" + value.idCard + "</td>"
                                                + "<td><div id='title'></div>" + value.titles1 + " " + value.fname + " " + value.lname + "</td>"
                                                + "<td>" + value.department1 + " " + value.faculty1 + "</td>"
                                                + "<td class='center'>"
                                                + "<button class='btn btn-info btn-xs edit' data-id='content-body' "
                                                + "data-api='{{_context_path}}/api/member/view/member/edit/" + value.memberId + "' "
                                                + "onclick='btnHTML(this)'> "
                                                + "<i class='fa fa-edit'></i>{{#i18n}}edit{{/i18n}}</button> "
                                                + "<button class='btn btn-xs btn-success' data-id='content-body' "
                                                + "data-api='{{_context_path}}/api/member/view/member/history/" + value.memberId + "' "
                                                + "onclick='btnHTML(this)'> "
                                                + "<i class='fa fa-edit'></i>ประวัติการแก้ไข</button>"
                                                + "<button class='btn-del btn btn-xs btn-danger' row-index=" + value.memberId + " >ลาออก</button>"
                                                + "</td></tr>";


                                    });

                                }
                                else {
                                    html = "<tr class='selectable'><td>ไม่พบข้อมูล</td>";
                                }
                                $('#title').html(html);

                            });


                }

        $("#btnSearch").click(function () {
            getSearch();

        });

        var myDropzone = new Dropzone("#frm_upload", {
            url: "{{_context_path}}/api/member/member/upload",
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: false,
            acceptedFiles: '.csv',
            maxFiles: 1,
            init: function () {
                $("#btn_upload").click(function () {
                    myDropzone.processQueue();
                });
            },
            sending: function (file, xhr, formData) {
//                var properser_id = $.jx.state.get('properser', 'properser_id');
//                formData.append('properser_id', properser_id);
            },
            success: function (file, txt) {
                if (txt.upload == true) {

                    $("#uploadModal").modal('hide');
                    myDropzone.removeFile(file);
                    Notify('บันทึกข้อมูลเรียบร้อย', 'top-right', '4000', 'success', 'fa-check', true);
                    setTimeout(function () {
                        getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', null);
                    }, 1000);

                } else if (txt.upload == "cantUpload") {
                    Notify('ไม่สามารถอัพไฟล์ได้', 'top-right', '4000', 'danger', 'fa-check', true);
                }
            }
        });

    });



</script>
