<div class="page-content">

    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">รายชื่อสมาชิก</li>
        </ul>
    </div>

    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                
            </h1>
        </div>

    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายชื่อสมาชิก</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <label class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="searchName" id="searchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </label>

                        <div class="col-lg-3">
                            <button id="btnSearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/member/view/member/add"

                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>

                        </div>
                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}IdCard{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}registerName{{/i18n}} - {{#i18n}}registerLastName{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}departmentId{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}facultyId{{/i18n}}</th>
                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody id="title">
                                    {{#lists}}
                                    <tr class="selectable" >

                                        <td>{{idCard}}</td>
                                        <td><div id="title"></div>{{title}} {{fname}}      {{lname}}</td>
                                        <td>{{department}}</td>
                                        <td>{{faculty}}</td>
                                        <td class="center">
                                            <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/member/view/member/edit/{{memberId}}"

                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>

                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{memberId}}" >Delete</button> 
                                        </td>
                                    </tr>
                                    {{/lists}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //titleName();
        //listtitleName();

        $('.btn-del').click(function () {
            var id = $(this).attr('row-index');

            if (confirm("คุณต้องการลบ?")) {
                var data = {"memberId": id};
                var msg = sendData('{{_context_path}}/api/member/member/delete', data);

                if (msg.delete == true) {
                    
                    getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', null);
                    Notify('ลบข้อมูลสำเร็จ!', 'top-right', '4000', 'danger', 'fa fa-trash-o', true);
                } else {
                    Notify('ลบไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                }
            }

        });
        $("#btnSearch").click(function () {
            var searchName = $("#searchName").val();
            if (searchName == "") {
                document.getElementById("demo").innerHTML = "กรุณากรอกข้อมูลค้นหา";
            } else {
                var data = {"searchName": searchName};
                getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', data);
            }
        });

    });



</script>
