<div class="page-content">

    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">รายชื่อสมาชิก</li>
        </ul>
    </div>

    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>

    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">รายชื่อสมาชิก</span>
                        <div class="widget-buttons"> </div>
                    </div>

                    <div class="widget-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label class="col-lg-4 control-label">
                                    <select id="memberActive" class="form-control" >
                                        <option value="" selected="" >ค้นหาจากตำแหน่งงาน</option>
                                        <!--                                    {{#employeeType}}<option value="{{id}}">{{value1}}</option>{{/employeeType}}-->
                                    </select>

                                </label>

                                <label class="col-lg-4 control-label">
                                    <select id="faculty" class="form-control" >
                                        <option value="" selected="">ค้นหาจากสังกัด / คณะ </option>
                                        <!--                                    {{#faculty}}<option value="{{id}}">{{value1}}</option>{{/faculty}}-->

                                    </select>
                                </label>
                                <label class="col-lg-4 control-label">
                                    <select id="department" class="form-control" >
                                        <option value="" selected="">ค้นหาจากภาควิชา</option>
                                    </select>
                                </label>



                            </div>
                        </div>

                        <div class="panel panel-default ">
                            <div class="panel-body ">
                                <div class="pull-right">
                                    <a class="btn btn-success" href="#" role="button"><i class="fa fa-file-excel-o"></i> ออกรายงาน Excel</a>
                                    <a class="btn btn-success" href="#" role="button"><i class="fa fa-file-pdf-o"></i> ออกรายงาน PDF</a>
                                    <button type="button" class="btn btn-success"
                                            id="reportCsv"
                                            data-whatever="">
                                        <i class="fa fa-file-excel-o"></i>{{#i18n}}button.export{{/i18n}} CSV
                                    </button>

                                    <button type="button" class="btn btn-maroon" 
                                            data-toggle="modal" 
                                            data-target="#uploadModal" 
                                            data-whatever="@fat">
                                        <i class="glyphicon glyphicon-upload"></i>{{#i18n}}button.upload{{/i18n}} CSV
                                    </button>

                                    <button type="button" class="btn btn-yellow">
                                        <a href= "{{_context_path}}/apps/member/excel/member.xlsx">
                                            <i class="fa fa-file-excel-o"></i>{{#i18n}}button.download{{/i18n}}ฟอร์ม CSV
                                        </a>
                                    </button>

                                    <button class="btn btn-primary"
                                            data-id="content-body"
                                            data-api="{{_context_path}}/api/member/view/member/add"

                                            onclick="btnHTML(this)">
                                        <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <label class="col-lg-12  control-label">
                                <!--<div class="pull-right">-->

                            </label>
                            <!--</div>-->
                        </div>



                        <!--<hr style="border-top: 1px solid rgba(229, 229, 229, 0);">-->
                        <div class="flip-scroll">
                            <table id="table" class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>&nbsp;{{#i18n}}IdCard{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}registerName{{/i18n}} - {{#i18n}}registerLastName{{/i18n}}</th>
                                        <th>&nbsp;{{#i18n}}facultyId{{/i18n}}</th>
                                        <th>&nbsp;สถานะ</th>

                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody id="title">


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">อัพโหลดไฟล์พนักงานมหาวิทยาลัย</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">ไฟล์ .csv</label>
                    <form enctype="multipart/form-data" method="post" class="dropzone dz-square" id="frm_upload">
                        <div class="dz-default dz-message"><span>คลิก/ลากวางไฟล์ .csv เพื่ออัพโหลด</span></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#i18n}}button.close{{/i18n}}</button>
                <button type="button" class="btn btn-primary" id="btn_upload">{{#i18n}}button.upload{{/i18n}}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $("#reportCsv").click(function() {
            window.open('{{_context_path}}/api/member/reports/lists');

        });
        getSearch();

        $("#filterfaculty").change(function() {
            getSearch();
        });
        $("#filterdepartment").change(function() {
            getSearch();
        });
        $("#filtermemberActive").change(function() {
            getSearch();
        });
        $("#searchName").change(function() {
            getSearch();
        });
        $("#filteremployeeType").change(function() {
            getSearch();
        });

//        $("#filtervalue").hide();
        //titleName();
        //listtitleName();

        $("#filterfaculty").change(function() {

            var id = $("#filterfaculty").val();


            $.ajax({
                url: '{{_context_path}}/api/taxonomy/taxonomy/getParentId',
                data: {parentId: id},
                success: function(result) {
                    var data = result["lists"];
                    var html;
                    if (data == "") {
                        html = '<option value="">สังกัด</option>';
                    } else {
                        $.each(data, function(key, value) {

                            html += "<option value='" + value.id + "'>" + value.value1 + "</option>";
                        });
                    }
                    $("#filterdepartment").show();
                    $("#filterdepartment").html("<option value='' selected='' disabled=''>เลือก</option>" + html);


                }
            });
        });


        $('.btn-del').click(function() {
            var id = $(this).attr('row-index');

            if (confirm("คุณต้องการจำหน่ายบุคคลดังกล่าวใช่หรือไม่?")) {
                var data = {"memberId": id};
                sendData('{{_context_path}}/api/member/member/delete', data,
                        function(msg) {
                            if (msg.delete == true) {

                                getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', null);
                                Notify('การจำหน่ายเสร็จสิ้น!', 'top-right', '4000', 'danger', 'fa fa-trash-o', true);
                            } else {
                                Notify('การจำหน่ายไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                            }
                        });


            }

        });

        function getSearch() {

            var department1 = {};
            var faculty1 = {};
            var employeeType1 = {};
            var memberActive1 = {};

            var faculty = "";
            var filterdepartment = "";
            var filtermemberActive = "";
            var searchName = "";
            var filteremployeeType = "";
            var data = {};

            data['faculty'] = faculty;
            data['filterdepartment'] = filterdepartment;
            data['filtermemberActive'] = filtermemberActive;
            data['searchName'] = searchName;
            data['filteremployeeType'] = filteremployeeType;
            var jdata = {};
            jdata['data'] = "";

            sendData('{{_context_path}}/api/member/member/search', jsonEncode(jdata),
                    //sendData('{{_context_path}}/api/welfare/history/check/search', jsonEncode(jdata),
                            function(result) {
                                console.log(result);

                                $.each(result["search"], function(key, value) {
                                    department1[value["department1"]] = value["department1"];
                                    faculty1[value["faculty1"]] = value["faculty1"];
                                    employeeType1[value["employeeType1"]] = value["employeeType1"];
                                    memberActive1[value["memberActive1"]] = value["memberActive1"];

                                });

                                var t = $("#table").DataTable({
                                    "destroy": true,
                                    "data": result["search"],
                                    "order": [0, 'asc'],
                                    "iDisplayLength": 50,
                                    "columnDefs": [
                                        {
                                            "targets": 0,
                                            "searchable": false,
                                            "orderable": true,
                                            "data": "idCard",
                                            "sClass": "text-center col-md-1"
                                        }, {
                                            "targets": 1,
                                            "data": "fname",
                                            "sClass": "text-left col-md-2",
                                            "render": function(data, key, full) {
                                                return full["titleName1"] + "&nbsp;" + full["fname"] + "&nbsp;&nbsp;" + full["lname"];
                                            }
                                        }, {
                                            "targets": 2,
                                            "data": "gender1",
                                            "sClass": "text-center col-md-2",
                                            "render": function(data, key, full) {
                                                return full["faculty1"] + '/' + full["department1"];
                                            }

                                        }, {
                                            "targets": 3,
                                            "data": "memberActive1",
                                            "sClass": "text-center col-md-1",
                                            "visible": false,
                                            "searchable": true


                                        }, {
                                            "targets": 4,
                                            "data": "fname",
                                            "sClass": "text-left col-md-2",
                                            "render": function(data, key, full) {
                                                html = "<td class='center'>"
                                                        + "<button class='btn btn-info btn-xs edit' data-id='content-body' "
                                                        + "data-api='{{_context_path}}/api/member/view/member/edit/" + full["memberId"] + "' "
                                                        + "onclick='btnHTML(this)'> "
                                                        + "<i class='fa fa-edit'></i>{{#i18n}}edit{{/i18n}}</button> "
                                                        + "<button class='btn btn-xs btn-success' data-id='content-body' "
                                                        + "data-api='{{_context_path}}/api/member/view/member/history/" + full["memberId"] + "' "
                                                        + "onclick='btnHTML(this)'> "
                                                        + "<i class='fa fa-edit'></i>ประวัติการแก้ไข</button>"
                                                        + "<button class='btn-del btn btn-xs btn-danger' row-index=" + full["memberId"] + " >ลาออก</button>"
                                                        + "</td></tr>";
                                                return html;
                                            }
                                        }
                                    ]
                                });

                                var search = '<option value="" selected="selected">แสดงภาควิชาทั้งหมด</option>';
                                $.each(department1, function(key, value) {
                                    search += '<option value="' + value + '">' + value + '</option>';
                                });
                                $("#department").html(search).select().change(function() {
                                    t.columns(2).search(this.value).draw();
                                });

                                var search = '<option value="" selected="selected">แสดงสังกัด/คณะ ทั้งหมด</option>';
                                $.each(faculty1, function(key, value) {
                                    search += '<option value="' + value + '">' + value + '</option>';
                                });
                                $("#faculty").html(search).select().change(function() {
                                    t.columns(2).search(this.value).draw();
                                });

                                var search = '<option value="" selected="selected">แสดงสถานะทั้งหมด</option>';
                                $.each(memberActive1, function(key, value) {
                                    search += '<option value="' + value + '">' + value + '</option>';
                                });
                                $("#memberActive").html(search).select().change(function() {
                                    t.columns(3).search(this.value).draw();
                                });

                                


//
//                                var html = "";
////                                $.each(result.history, function (key, value) {
//                                var data = result["search"];
//                                if (data != "") {
//
//                                    $.each(data, function(key, value) {
//                                        html += "<tr class='selectable'><td>" + value.idCard + "</td>"
//                                                + "<td><div id='title'></div>" + value.titles1 + " " + value.fname + " " + value.lname + "</td>"
//                                                + "<td>" + value.department1 + " " + value.faculty1 + "</td>"
//                                                + "<td class='center'>"
//                                                + "<button class='btn btn-info btn-xs edit' data-id='content-body' "
//                                                + "data-api='{{_context_path}}/api/member/view/member/edit/" + value.memberId + "' "
//                                                + "onclick='btnHTML(this)'> "
//                                                + "<i class='fa fa-edit'></i>{{#i18n}}edit{{/i18n}}</button> "
//                                                + "<button class='btn btn-xs btn-success' data-id='content-body' "
//                                                + "data-api='{{_context_path}}/api/member/view/member/history/" + value.memberId + "' "
//                                                + "onclick='btnHTML(this)'> "
//                                                + "<i class='fa fa-edit'></i>ประวัติการแก้ไข</button>"
//                                                + "<button class='btn-del btn btn-xs btn-danger' row-index=" + value.memberId + " >ลาออก</button>"
//                                                + "</td></tr>";
//
//
//                                    });
//
//                                }
//                                else {
//                                    html = "<tr class='selectable'><td>ไม่พบข้อมูล</td>";
//                                }
//                                $('#title').html(html);

                            });


                }

        $("#btnSearch").click(function() {
            getSearch();

        });

        var myDropzone = new Dropzone("#frm_upload", {
            url: "{{_context_path}}/api/member/member/upload",
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: false,
            acceptedFiles: '.csv',
            maxFiles: 1,
            init: function() {
                $("#btn_upload").click(function() {
                    myDropzone.processQueue();
                });
            },
            sending: function(file, xhr, formData) {
//                var properser_id = $.jx.state.get('properser', 'properser_id');
//                formData.append('properser_id', properser_id);
            },
            success: function(file, txt) {
                if (txt.upload == true) {

                    $("#uploadModal").modal('hide');
                    myDropzone.removeFile(file);
                    Notify('บันทึกข้อมูลเรียบร้อย', 'top-right', '4000', 'success', 'fa-check', true);
                    setTimeout(function() {
                        getHTML('content-body', '{{_context_path}}/api/member/view/member/lists', null);
                    }, 1000);

                } else if (txt.upload == "cantUpload") {
                    Notify('ไม่สามารถอัพไฟล์ได้', 'top-right', '4000', 'danger', 'fa-check', true);
                }
            }
        });

    });



</script>
