<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}listregister{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                {{#i18n}}listregister{{/i18n}}
            </h1>
        </div>
        <!--Header Buttons-->

        <!--/Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}taxonomy{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-md-5">
                            <select id="selectParent" class="form-control">
                                <option value="0">Chose Parent</option>
                                {{#parent}}
                                <option value="{{code}}">{{value}}</option>
                                {{/parent}}
                            </select>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" 
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/taxonomy/view/child/add"
                                    data-data="null"
                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>เพิ่มข้อมูลใหม่ {{test}}</button> 
                        </div>
                        <div class="flip-scroll rows">
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{#i18n}}code{{/i18n}}</th>
                                        <th class="center">{{#i18n}}value{{/i18n}}</th>
                                        <th class="center">{{#i18n}}edit{{/i18n}}</th>
                                        <th class="center">{{#i18n}}delete{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#child}}  
                                    <tr class="selectable">

                                        <td>{{code}}</td>
                                        <td>{{value}}</td>

                                        <td class="center">
                                            <button class="btn btn-info btn-xs" 
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/taxonomy/view/child/edit/{{code}}"
                                                    data-param="null"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-plus"></i>{{#i18n}}edit{{/i18n}}</button>
                                        </td>

                                        <td class="center">
                                            <button class='btn btn-info btn-xs delete' value='{{code}}'>
                                                <i class="fa fa-edit"></i>
                                                {{#i18n}}delete{{/i18n}}
                                            </button>
                                        </td>
                                    </tr>
                                    {{/child}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selectParent").change(function(e){
           var code = $(this).val();
           getHTML('content-body', '{{_context_path}}/api/taxonomy/view/child/lists', {parentCode:code});
           $(this).val(code);
        });
        $(".delete").click(function () {
            var data = {};
            data['code'] = $(this).val();
            var jdata = {};
            jdata['taxonomy'] = data;
            if (confirm("คุณต้องการลบ?")) {
                var result = sendData('{{_context_path}}/api/taxonomy/child/delete', jsonEncode(jdata));
                if (result.delete == true) {
                    alert("ลบเรียบร้อย");
                    getHTML('content-body', '{{_context_path}}/api/taxonomy/view/child/lists', null);
                } else {
                    alert("ลบไม่สำเร็จ");
                }
            }
        });
    });
</script>