<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="active">{{#i18n}}welfare.list{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->


    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}welfare.list{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>




                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">

                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>views</th>
                                        <th>{{#i18n}}all.number{{/i18n}}</th>
                                        <th>{{#i18n}}welfare.description{{/i18n}}</th>
                                        <th>{{#i18n}}all.quantity{{/i18n}}</th>

                                        <th class="center">{{#i18n}}conditions.setList{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datasConditions}}
                                    <tr class="selectable">
                                        <td width="10%">
                                        <a class="totalHistory btn btn-default btn-xs shiny icon-only success" 
                                            row-index="{{detailsId}}"
                                            row-welfareId="{{welfareId}}" 
                                            href="javascript:void(0);">
                                        <i class="fa fa-plus-square-o"></i></a>                                        
                                        </td>
                                        <td>{{rowNo}}</td>
                                        <td>{{description}}</td>
                                        <td>{{quantity}} {{returntType}}</td>
                                        <td class="center">

                                            <button class="btn btn-info btn-xs edit btn_history"
                                                    row-index="{{detailsId}}"
                                                    row-welfareId="{{welfareId}}">
                                                <i class="fa fa fa-eye"></i>ตรวจสอบ
                                            </button>


                                        </td>
                                        
                                    <tr class="details1" style="display: none;" >
                                        <td class="details" colspan="6">
                                    <div class="well bordered-left bordered-themeprimary" id="showDetails"> </div> 

 

                                                       
                                        </td>
                                    </tr>

                                    </tr>
                                    {{/datasConditions}}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- /Page Body -->


</div>



<script>
   
    $('.btn_history').click(function () {
        var data = {};
        data['detailsId'] = $(this).attr('row-index');
        data['welfareId'] = $(this).attr('row-welfareId');
        data['memberId'] = "{{memberId}}";
        var jdata = {};
        jdata['data'] = data;
        getHTML('content-body', '{{_context_path}}/api/wfmember/view/history/lists', jsonEncode(jdata))
    });
    
    $('.totalHistory').click(function () {
        $(".details1").slideToggle("slow");
        
        var data = {};
        data['detailsId'] = $(this).attr('row-index');
        data['welfareId'] = $(this).attr('row-welfareId');
        data['memberId'] = "{{memberId}}";
        var jdata = {};
        jdata['data'] = data;
        $.ajax({
                url: '{{_context_path}}/api/wfmember/bymember/history/get',
                data: jsonEncode(jdata),
                type: 'post', // 'or get'
                success: function (result) {
                    
                  var html='';
                   var value = result.history;
                       
                   html += '<p> {{#i18n}}conditions.name{{/i18n}} : '+  value.name + '</p>';
                   html += '<p>{{#i18n}}conditions.details{{/i18n}} : '+ value.wfDescription + '</p>';
                   html += '<p>{{#i18n}}conditions.setConditions{{/i18n}} : '+ value.description + ' / {{#i18n}}all.quantity{{/i18n}} : '+ value.quantity +''+ value.returnTypeValue + '</p>';
                   html += '<p>{{#i18n}}welfare.dateStart{{/i18n}} : ' + value.dateStart + '/ {{#i18n}}welfare.dateEnd{{/i18n}} : ' + value.dateEnd +'</p>';
                   html +=  '<p>{{#i18n}}welfare.resetTime{{/i18n}} : ' + value.resetTime +'/ {{#i18n}}welfare.welfareType{{/i18n}} : ' + value.free +  '</p>';
                   html += '<p>{{#i18n}}conditions.used{{/i18n}} : ' + value.totalBudget +' '+ value.returnTypeValue + ' {{#i18n}}conditions.userTotal{{/i18n}} : '+ value.total +' '+ value.returnTypeValue +'</p>';
                
                   
                    $("#showDetails").html(html);
                }
            });
        
    });
</script> 




