<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="welfare"><a href="#" data-id="content-body" data-api="/welfare/api/welfare/view/welfare/lists" onclick="btnHTML(this)">
                    <span class="menu-text">{{#i18n}}welfare.list{{/i18n}}</span>
                </a>
            </li>
            <li > <a href="#" data-id="content-body"
                     data-api="{{_context_path}}/api/welfare/view/conditions/lists"
                     data-object='welfareId'
                     data-param='{{welfareId}}'
                     onclick="btnHTML(this)">{{#i18n}}conditions.lists{{/i18n}}</a></li>
            <li class="active">{{#i18n}}conditions.add{{/i18n}}</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>

            </h1>
        </div>
        <!--Header Buttons-->

        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <form id="frmConditions">

        <div class="page-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget radius-bordered">
                        <div class="widget-header">
                            <span class="widget-caption">{{#i18n}}conditions.add{{/i18n}}</span>
                        </div>
                        <div class="widget-body">
                            <div  class="form-horizontal">
                                <div class="form-title">
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}conditions.description{{/i18n}}</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="description" placeholder="{{#i18n}}conditions.description{{/i18n}}"
                                               id="description" data-validation="required" 
                                               data-validation-error-msg="*กรุณากรอกข้อมูล" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}all.quantity{{/i18n}}</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="quantity" placeholder="{{#i18n}}conditions.quantity{{/i18n}}"
                                               data-bv-notempty-message="ใส่ตัวเลข" 
                                               data-validation-error-msg="*กรุณาใส่ตัวเลข"
                                               data-validation="number" id="quantity" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">{{#i18n}}returnType{{/i18n}}</label>
                                    <div class="col-lg-6">

                                        <select class="form-control" name="country" data-bv-field="country" id="returnTypeId">

                                            {{#unit}}

                                            <option value='{{id}}' >{{value1}}</option>

                                            {{/unit}}
                                        </select><i class="form-control-feedback" data-bv-field="country" style="display: none;"></i>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget radius-bordered">
                <div class="widget-header">
                    <span class="widget-caption">{{#i18n}}{{conditions.set}}{{/i18n}}</span>
                </div>
                <div class="widget-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="reservation" class="col-lg-3 control-label"></label>
                            <div class="controls col-lg-12">
                                <div class="row">

                                    {{#employeeType}}
                                    <div class="col-lg-3 col-sm-3 col-xs-3">
                                        <div class="checkbox">
                                            <label>

                                                <input type="checkbox" class="inverted employeeType" id="employeeTypeId" name="employeeTypeId" value="{{id}}" >

                                                <span class="text">{{value1}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    {{/employeeType}}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="widget radius-bordered">
                <div class="widget-header">
                    <span class="widget-caption">เลือกประเภทเงื่อนไขสวัสดิการ</span>
                </div>
                <div class="widget-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="reservation" class="col-lg-3 control-label"></label>
                            <div class="controls col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3">
                                        <div class="checkbox">
                                            <label>

                                                <input type="checkbox" class="inverted" id="optionDateStartAndEnd" value="">

                                                <span class="text">{{#i18n}}dateAdded{{/i18n}}/{{#i18n}}retirementDate{{/i18n}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-xs-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="inverted" name="optionGender" id="optionGender" >
                                                <span class="text">{{#i18n}}all.gender{{/i18n}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-xs-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="inverted" id="optionAgeOfmember"  >
                                                <span class="text">{{#i18n}}conditions.ageOfmember{{/i18n}}</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-xs-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="inverted" id="optionAgeOfWork" value="">
                                                <span class="text">{{#i18n}}conditions.ageOfWork{{/i18n}}</span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>

            <div class="widget radius-bordered">
                <div class="widget-header">
                    <span class="widget-caption">{{#i18n}}welfarecondition{{/i18n}}</span>
                </div>
                <div class="widget-body">
                    <div id="registrationForm" class="form-horizontal">

                        <div style="display:none" id="checkDateStartAndEnd">

                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}conditions.workStartDateing{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group">
                                        <input class="form-control cDate" id="workStartDate"  />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="reservation" class="col-lg-3 control-label">{{#i18n}}conditions.dateEndWork{{/i18n}}</label>
                                <div class="controls col-lg-9">
                                    <div class="input-group">
                                        <input class="form-control cDate" id="workEndDate" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div style="display: none" id="checkAgeOfmember">


                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionagesince{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageStart" 
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageto{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="firstName" placeholder="{{#i18n}}age{{/i18n}}"
                                           data-bv-notempty="true" id="ageEnd" 
                                           data-bv-notempty-message="{{#i18n}}age{{/i18n}}" />
                                </div>

                            </div>
                        </div>

                        <div style="display: none" id="checkAgeOfWork">


                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkStart{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="ageWorkStart" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkStart" 
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{#i18n}}conditionageWorkEnd{{/i18n}}</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="ageWorkEnd" placeholder="{{#i18n}}agework{{/i18n}}"
                                           data-bv-notempty="true" id="ageWorkEnd"  
                                           data-bv-notempty-message="{{#i18n}}agework{{/i18n}}" />
                                </div>
                            </div>
                        </div>

                        <div style="display: none" id="checkGender">
                            <div class="form-group">

                                {{#gender}}
                                <div class="col-lg-3 control-label">
                                    <div class="checkbox">
                                        <label>

                                            <input type="radio" class="inverted gender" id="genderId" name="genderId" value="{{id}}" >

                                            <span class="text">{{value1}}</span>
                                        </label>
                                    </div>
                                </div>
                                {{/gender}}
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-lg-offset-6 col-lg-8">
                                <input class="btn btn-palegreen" id="btn_submit" type="submit" value="{{#i18n}}button.submit{{/i18n}}" />
                                <button class="btn btn btn-default "
                                        data-id="content-body"
                                        id="btn_preview"
                                        data-toggle="modal"
                                        data-target=".bs-example-modal-lg" >ตรวจสอบผู้มีสิทธิ์
                                    <i class="fa fa fa-eye"></i>
                                </button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>




        </div>
        <!-- /Page Body -->
    </form>
</div>
<!-- /Page Content -->

<!--LArge Modal Templates-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">รายงานการใช้งาน</h4>
            </div>
            <div class="modal-body">

                <div class="widget radius-bordered">
                    <div class="widget-header">
                        <span class="widget-caption" id="userRows"> </span>
                    </div>
                    <div class="widget-body">
                        <div class="form-horizontal">

                            <table class="table table-hover table-striped table-bordered table-condensed" id="showTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}welfare.number{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}welfare.fnamelname{{/i18n}}</th>

                                        <th class="text-center">{{#i18n}}gender{{/i18n}}</th>
                                        <th class="text-center">สังกัด</th>
                                        <th class="text-center">{{#i18n}}employeeType{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>



                                </tbody>

                            </table>


                        </div>
                    </div>


                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--End Large Modal Templates-->


<script>
            $(document).ready(function () {
    $.validate();
            $('#optionDateStartAndEnd').click(function () {

    $("#checkDateStartAndEnd").slideToggle();
            $("#workStartDate").val("");
            $("#workEndDate").val("");
    });
            $('#optionGender').click(function () {
    $('input[name=genderId]').attr('checked', false);
            $("#checkGender").slideToggle();
    });
            $('#optionAgeOfmember').click(function () {
    $("#checkAgeOfmember").slideToggle();
            $("#ageStart").val("");
            $("#ageEnd").val("");
    });
            $('#optionAgeOfWork').click(function () {
    $("#checkAgeOfWork").slideToggle();
            $("#ageWorkStart").val("");
            $("#ageWorkEnd").val("");
    });
            $("#btn_submit").click(function () {
    if ($("#description").val() != "" || $("#quantity").val() > 0){

    var employeeTypeId = [];
            $(".employeeType").each(function (k, v) {

    if (this.checked) {
    employeeTypeId.push($(this).val());
    }

    });
            var data1 = [];
            $.each(employeeTypeId, function (k, v) {
            var data = {};
                    data['welfareId'] = "{{welfareId}}";
                    data['description'] = $("#description").val();
                    data['quantity'] = $("#quantity").val();
                    if ($("#workStartDate").val() != "") {
            data['workStartDate'] = $("#workStartDate").val();
            }
            if ($("#workEndDate").val() != "") {
            data['workEndDate'] = $("#workEndDate").val();
            }
            if ($("#ageStart").val() != ""){
            data['ageStart'] = $("#ageStart").val();
            }
            if ($("#ageEnd").val() != ""){
            data['ageEnd'] = $("#ageEnd").val();
            }
            if ($("#ageWorkStart").val() != ""){
            data['ageWorkStart'] = $("#ageWorkStart").val();
            }
            if ($("#ageWorkEnd").val() != ""){
            data['ageWorkEnd'] = $("#ageWorkEnd").val();
            }
            if ($('input[name=genderId]:checked').val() != ""){
            data['genderId'] = $('input[name=genderId]:checked').val();
            }
            data['employeeTypeId'] = v;
                    data1.push(data);
            });
            var jdata = {};
            jdata['data'] = data1;
            $.ajax({
            url: '{{_context_path}}/api/welfare/conditions/save',
                    data: jsonEncode(jdata),
                    type: 'post', // 'or get'
                    success: function (result) {
                    if (result.save == true) {

                    getHTML('content-body', '{{_context_path}}/api/welfare/view/conditions/lists', {welfareId:{{welfareId}}});
                            Notify('บันทึกสำเร็จ', 'top-right', '4000', 'success', 'fa-check', true);
                    } else {
                    Notify('บันทึกไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
                    }
                    }
            });
    } else{
    $("#description").focus();
            Notify('กรุณากรอกข้อมูลให้ถูกต้อง!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
    }
    return false;
    });
            $("#btn_preview").click(function () {
    var employeeTypeId = [];
            $(".employeeType").each(function (k, v) {

    if (this.checked) {
    employeeTypeId.push($(this).val());
    }

    });
            var data1 = [];
            $.each(employeeTypeId, function (k, v) {
            var data = {};
             if ($("#workStartDate").val() != "") {
            data['workStartDate'] = $("#workStartDate").val();
            }
            if ($("#workEndDate").val() != "") {
            data['workEndDate'] = $("#workEndDate").val();
            }
            if ($("#ageStart").val() != ""){
            data['ageStart'] = $("#ageStart").val();
            }
            if ($("#ageEnd").val() != ""){
            data['ageEnd'] = $("#ageEnd").val();
            }
            if ($("#ageWorkStart").val() != ""){
            data['ageWorkStart'] = $("#ageWorkStart").val();
            }
            if ($("#ageWorkEnd").val() != ""){
            data['ageWorkEnd'] = $("#ageWorkEnd").val();
            }
            if ($('input[name=genderId]:checked').val() != ""){
            data['genderId'] = $('input[name=genderId]:checked').val();
            }
            data['employeeTypeId'] = v;
                    data1.push(data);
            });
            var jdata = {};
            jdata['conditions'] = data1;
            if (data1.length > 0) {
    $.ajax({
    url: '{{_context_path}}/api/welfare/conditions/preview',
            data: jsonEncode(jdata),
            type: 'post', // 'or get'
            success: function (result) {
            if (result.preview == "null") {
            Notify('กรุณาเลือกข้อมูล !', 'top-right', '4000', 'warning', 'fa fa-warning', true);
            } else {
            $("#preview").slideToggle(this.checked);
                    var html = "";
                    var countUser = 0;
                    for (var i = 0; i < result.preview.length; i++) {
            var data = result.preview[i];
                    if (data.academic == null) {
            var academic = data.academic = "";
            } else {
            var academic = data.academic;
            }
            countUser++;
                    html += '<tr class="selectable">';
                    html += '<td>' + (i + 1) + '</td>';
                    html += '<td>' + data.title + ' ' + data.fname + ' ' + data.lname + '</td>';
                    html += '<td>' + data.gender + '</td>';
                    html += '<td>ภาควิชา/สำนักงาน ' + data.department + '  ' + data.faculty + '</td>';
                    html += '<td>' + data.employeeType + '</td></tr>';
            }

            $("#userRows").html('จำนวนทั้งหมด ' + countUser + ' คน ');
                    $("table#showTable tbody").html(html);
            }
            }
    });
    }
    });
            $(".cDate").datepicker({language: 'th-th', format: 'dd-mm-yyyy', autoclose: true});
    });
</script>

