<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{#i18n}}home{{/i18n}}</a>
            </li>
            <li class="welfare"><a href="#" data-id="content-body" data-api="/welfare/api/welfare/view/welfare/lists" onclick="btnHTML(this)">
                        <span class="menu-text">{{#i18n}}welfare.details{{/i18n}}</span>
                    </a>
                </li>
            <li class="active">{{#i18n}}conditions.lists{{/i18n}}</li>

        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header  with-footer"> <span class="widget-caption">{{#i18n}}conditions.lists{{/i18n}}</span>
                        <div class="widget-buttons"> </div>
                    </div>
                    <div class="widget-body">
                        <div class="col-lg-5 control-label">
                            <input type="text" class="form-control" name="SearchName" id="SearchName" placeholder="ค้นหา" >  
                            <p id="demo" style="color:#d14"></p>
                        </div>

                        <div class="col-lg-3">
                            <button id="btnsearch" name="bn" class="btn btn-default"  type="button"> <i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-palegreen"
                                    data-id="content-body"
                                    data-api=""
                                    
                                    onclick="btnHTML(this)">
                                <i class="fa fa-print"></i>{{#i18n}}print{{/i18n}} 
                            </button>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    data-id="content-body"
                                    data-api="{{_context_path}}/api/welfare/view/conditions/add"
                                    data-object='welfareId'
                                    data-param='{{welfareId}}'
                                    onclick="btnHTML(this)">
                                <i class="fa fa-plus"></i>{{#i18n}}button.add{{/i18n}} 
                            </button>
                        </div>

                        <hr style="border-top: 1px solid rgba(229, 229, 229, 0);">
                        <div class="flip-scroll">
                           
                            <table class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{#i18n}}all.number{{/i18n}}</th>
                                        <th>{{#i18n}}conditions.description{{/i18n}}</th>
                                        <th>{{#i18n}}all.quantity{{/i18n}}</th>
                                        <th>{{#i18n}}all.employeeType{{/i18n}}</th>

                                        <th class="center">{{#i18n}}manage{{/i18n}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#datas}}
                                    <tr class="selectable">

                                        <td>{{conditionsId}}</td>
                                        <td>{{description}}</td>
                                        <td>{{quantity}}</td>
                                        <td>{{employeeType}}</td>
                                        <td class="center">

                                                
                                            <button class="btn btn-info btn-xs edit btn_preview"
                                                    row-index="{{conditionsId}}" >
                                                <i class="fa fa fa-eye"></i>{{#i18n}}welfare.right{{/i18n}} 
                                            </button>

                                            <button class="btn btn-info btn-xs edit"
                                                    data-id="content-body"
                                                    data-api="{{_context_path}}/api/welfare/view/conditions/edit"
                                                    data-object="conditionsId"
                                                    data-param="{{conditionsId}}"
                                                    onclick="btnHTML(this)">
                                                <i class="fa fa-edit"></i>{{#i18n}}edit{{/i18n}} 
                                            </button>

                                                

                                            <button class="btn-del btn btn-xs btn-danger" row-index="{{conditionsId}}" >{{#i18n}}deletes{{/i18n}}</button>
                                        </td>
                                    </tr>
                                    {{/datas}}
                                </tbody>

                            </table>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /Page Body -->
</div>
<script>
    
    $('.btn_preview').click(function () {
            var data = {};
            data['conditionsId'] = $(this).attr('row-index');
            data['welfareId'] = "{{welfareId}}";
            var jdata = {};
            jdata['data'] = data;
            getHTML('content-body', '{{_context_path}}/api/welfare/view/priviews/lists', jsonEncode(jdata));
    });
    
    $("#btnsearch").click(function () {
    var SearchName = $("#SearchName").val();
            if (SearchName == ""){
    document.getElementById("demo").innerHTML = "กรุณากรอกข้อมูลค้นหา";
    } else{

    getHTML('content-body', '{{_context_path}}/api/welfare/view/conditions/lists/{{welfareId}}', {SearchName:SearchName});
    }
    });
</script> 
<script>
            $(function() {
            var availableTags = [
            {{#datas}}"{{description}}",
                    "{{quantity}}",
                    "{{employeeType}}",
            {{/datas}}
            ];
                    $("#SearchName").autocomplete({
            source: availableTags
            });
            });
</script>

<script>
                    
            $('.btn-del').click(function(){
            var Id = $(this).attr('row-index');
                    if (confirm("คุณต้องการลบ?")) {
            var data = {"Id":Id};
                    var result = sendData('{{_context_path}}/api/welfare/conditions/delete', data);
                    if (result.delete == true) {
            getHTML('content-body', '{{_context_path}}/api/welfare/view/conditions/lists', {welfareId:{{welfareId}}});
                    Notify('ลบข้อมูลสำเร็จ!', 'top-right', '4000', 'danger', 'fa fa-trash-o', true);
            } else{
            Notify('ลบไม่สำเร็จ!', 'top-right', '4000', 'warning', 'fa fa-warning', true);
            }
            }

            });
</script> 

